<template>
	<form class="app-form">
		<AppFormGroup
			v-for="group of data"
			:data="group"
		/>
	</form>
</template>

<script>
import AppFormGroup from "@/components/global/form/AppFormGroup"

export default {

  name: 'AppForm',

  components: {
  	AppFormGroup,
  },

  props: {
  	data: {
  		type: Object,
  		required: true,
  	},
  },

  data: () => ({
    validators: {},
  }),

  // mounted() {
  //   console.log(Object.keys(this.data));
  //   Object
  //     .keys(this.form)
  //     .map(key => {
  //       // this.validators[key] = null;
  //       this.validators = {
  //         ...this.validators,
  //         [key]: null,
  //       }
  //     });
  // },
}
</script>

<style lang="scss" scoped>
</style>