<template>
	<div :class="responsiveClass">
		<div class="app-form-item" >
			<header class="app-form-item__header">
				<i
					v-if="data.icon"
					:class="`fab fa-${data.icon} app-form-item__icon`"
				></i>

				<h3
					v-if="data.title"
					class="app-form-item__title"
					@click="handler"
				>
					{{ data.title }}

					<span v-if="isRerequired" class="app-form-item__require">*</span>

				</h3>
			</header>


			<el-input
				v-if="data.el == undefined || data.el == 'input'"
				v-model="data.value"
				v-validate="data.validate || validate"
				:name="data.name"
				:placeholder="data.placeholder || ' '"
				:type="data.type || 'text'"
			>
				<template v-if="data.prepend" slot="prepend">{{ data.prepend }}</template>
			</el-input>

			<el-date-picker
				v-if="data.el == 'daterange'"
	      v-model="data.value"
	      v-validate="data.validate || validate"
	      :name="data.name"
	      style="width: 100%"
	      type="daterange"
	      range-separator="-"
	      start-placeholder="Start date"
	      end-placeholder="End date"
      >
	    </el-date-picker>

		  <template v-if="data.el == 'select'">

		    <el-select v-model="data.value" placeholder="None">
		    	<el-option
		    		v-for="item in data.items"
			      :key="item.id"
			      :label="item.name"
			      :value="item.id">
			    </el-option>
			  </el-select>
		  </template>

		  <el-upload
			  class="avatar-uploader"
			  v-if="data.el == 'upload'"
			  action=""
			  :show-file-list="false"
			  :limit="1"
			  :on-success="handleAvatarSuccess"
			  :before-upload="beforeAvatarUpload">
			  <img v-if="imageUrl" :src="imageUrl" class="avatar">
			  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
			</el-upload>

			<!-- <el-upload
				class="avatar-uploader"
				v-if="data.el == 'upload'"
			  action="https://jsonplaceholder.typicode.com/posts/"
			  list-type="picture-card"
			  :show-file-list="false"
			  :on-success="handleAvatarSuccess"
  			:before-upload="beforeAvatarUpload"
		  >
		  	<img v-if="imageUrl" :src="imageUrl" class="avatar">
  			<i v-else class="el-icon-plus avatar-uploader-icon"></i>
			</el-upload> -->

		  <div v-show="errors.has(data.name)" class="app-form-item__is-danger">
	    	{{ errors.first(data.name) }}
	    </div>

		</div>
	</div>
</template>

<script>
export default {

  name: 'AppFormItem',

 	props: {
 		data: {
 			type: Object,
 		},

  	responsive: {
  		type: String,
  		default: "",
  	},

  	validate: {
  		type: String,
  		default: "",
  	}
  },

  data: () => ({
  	imageUrl: "",
  }),

  computed: {
  	responsiveClass() {
  		if (this.data.responsive)
  			return this.data.responsive;
  		else
  			return this.responsive;
  	},

  	isRerequired() {
  		// if (this.data.validate == "required" || this.validate == "required")
  			// return true;

  		// let isRerequired = false;
  		if (this.data.validate)
  			if (this.data.validate.indexOf("required") > -1)
  				return true;
			else if (this.validate)
				if (this.validate.indexOf("required") > -1)
  				return true;


			return false;

  		// if (this.data.validate)
				// isRerequired = this.data.validate.split("required");
  		// console.log(isRerequired);
  	}

  	// validateRules() {
  	// 	let validateStr = "";

  	// 	validateStr += this.data.require ? "required|" + this.validate : this.validate;

  	// 	return validateStr;
  	// },
  },

  mounted() {
  	this.data.validator = this.$validator;
  },

  methods: {
  	handler() {
  		this.$validator.validateAll().then((result) => {
				console.log(result);
			})
  	},

  	handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);

      console.log(file);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error('Avatar picture must be JPG format!');
      }
      if (!isLt2M) {
        this.$message.error('Avatar picture size can not exceed 2MB!');
      }
      return isJPG && isLt2M;
    }
  },
}
</script>

<style lang="scss">
	.app-form-item {
		.el-upload--picture-card {
			width: 100% !important;
		}

		.el-select {
			width: 100% !important;
		}

		.avatar-uploader .el-upload {
	    border: 1px dashed #d9d9d9;
	    border-radius: 6px;
	    cursor: pointer;
	    position: relative;
	    overflow: hidden;
	  }
	  .avatar-uploader .el-upload:hover {
	    border-color: #409EFF;
	  }
	  .avatar-uploader-icon {
	    font-size: 28px;
	    color: #8c939d;
	    width: 178px;
	    height: 178px;
	    line-height: 178px;
	    text-align: center;
	  }
	  .avatar {
	    width: 178px;
	    height: 178px;
	    display: block;
	  }
	}
</style>

<style lang="scss" scoped>


	.app-form-item {

		&__header {
			display: flex;
			align-items: center;
			margin-top: 1.4rem;
			margin-bottom: .9rem;
		}

		&__title {
			margin: 0;
			font-size: 1.1rem;
			color: #616161;
			line-height: 1;
		}

		&__icon {
			font-size: .8rem;
			margin-right: .8rem;
			line-height: 1;
		}

		&__require {
			font-size: 1.3rem;
			color: #1E88E5;
		}

		&__is-danger {
			font-size: .7rem;
			color: red;
		}
	}
</style>
