<template>
	<div class="app-form-group">
		<h2 class="app-form-group__title" v-if="data.title">
			{{ data.title }}
		</h2>

		<div class="row">
			<AppFormItem
				v-for="item of data.items"
				:data="item"
				:responsive="data.responsive"
				:validate="data.validate"
				:key="item.name"
			/>
		</div>

	</div>
</template>

<script>
import AppFormItem from "@/components/global/form/AppFormItem"

export default {

  name: 'AppFormGroup',

  components: {
  	AppFormItem,
  },

  props: {
  	data: {
  		type: Object,
  	},
  	title: {
  		type: String,
  	},
  },

  data: () => ({
  	validators: {},
  }),
}
</script>

<style lang="scss" scoped>
	.app-form-group {
		margin: 1rem 0 4rem;

		&__title {
			font-size: 1.3rem;
			margin-top: 1rem;
			color: #424242;
		}
	}
</style>
