<template>
<div class="screen-expert">
  <div class="container">

    <expert-list-card
      :isSecondaryInfo="false"
    />

    <div class="row">
      <div class="col-md-9 col-12">
        <expert-card-description />
      </div>
      <div class="col-md-3 col-12">
        <secondary-card-info />
      </div>
    </div>

  </div>
</div>
</template>

<script>
import {
  mapActions,
  mapGetters
} from 'vuex'
import * as types from '../store/mutation-types'

import ExpertListCard from "../components/expert/ExpertListCard"
import ExpertCardDescription from "../components/expert/ExpertCardDescription"
import SecondaryCardInfo from "../components/secondary/SecondaryCardInfo"

export default {
  name: 'screen-expert-list',

  components: {
    ExpertListCard,
    ExpertCardDescription,
    SecondaryCardInfo
  },
}
</script>

<style scoped lang="scss">
@import '../partials/global';

.screen-expert {

    padding-top: 40px;
    padding-bottom: 25px;
}
</style>
