<template>
  <div>
    <blog-main></blog-main>
  </div>
</template>

<script>
import BlogMain from '../components/blog/BlogMain'

export default {
  name: 'ScreenBlog',

  components: {
    BlogMain
  }
}
</script>

<style scoped lang="scss">
</style>
