<template>
  <div class="screen-ico" v-if="icoData">
    <div class="container">

      <!-- <pre>{{ icoData.data }}</pre> -->

      <ICO-list-card
        :item="icoData.data"
        :isHover="false"
        :isHeader="true"
      />

      <div class="row">
        <div class="col-md-9 col-12">
          <ICO-card-description
            :data="icoData.data"
          />
        </div>

        <div class="col-md-3 col-12">
          <secondary-card-info
            :rating="icoData.data.rating">
            <ICO-card-info
              :data="icoData.data"
            />
          </secondary-card-info>
        </div>
      </div>

    </div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import * as types from '../store/mutation-types';

import ICOListCard from '../components/ico-list/ICOListCard'
import ICOCardInfo from "../components/ico/ICOCardInfo"
import ICOCardDescription from '../components/ico/ICOCardDescription'

import SecondaryCardInfo from "../components/secondary/SecondaryCardInfo"

export default {
  name: 'screen-ico',

  components: {
    ICOListCard,
  	ICOCardInfo,
    ICOCardDescription,

  	SecondaryCardInfo,
  },

  computed: {
  	...mapGetters([
  		"icoData",
  	]),
  },

  watch: {
    icoData(val) {
      console.log(val);
    }
  },

  created() {
    this.loaddingICO(this.$route.params.id)
  },

  methods: {
  	...mapActions([
  		"loaddingICO",
		]),
  },

}
</script>

<style scoped lang="scss">
	.screen-ico {
		padding: 30px 0;

		&__card-info {
			// padding: 0 5%;
		}
	}

	.сard-ico {
		color: rgba(0,0,0, 0.6);
		// box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);

		&__main {
			box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);
			background: #fff;
			color: #455A64;
			padding: 30px;
			font-size: 0.8em;

			h2 {
				font-size: 0.6em;
			}
		}
	}

	@media screen and (max-width: 992px) {
		.сard-ico {
			margin-top: 40px;
		}
	}
	// 992
</style>
