<template>
	<div class="screen-auntification">
		<router-view></router-view>

		<!-- <component :is="activeComponent" /> -->
	</div>
</template>

<script>
import { mapMutations } from "vuex"
import * as types from '@/store/mutation-types'

import AuthLogIn from '@/components/auth/AuthLogIn'
import AuthSignUp from '@/components/auth/AuthSignUp'

export default {

  name: 'ScreenAuntification',

  components: {
  	AuthLogIn,
  	AuthSignUp,
  },

  data: () => ({
  	components: {
  		login: "AuthLogIn",
  		signup: "AuthSignUp",
  	},

  	nextPage: "",
  }),

  computed: {
  	activeComponent() {
  		return this.components[this.$route.params.component];
  	},
  },

  beforeRouteEnter (to, from, next) {
  	next(vm => {
  		let nextPage = "";

  		if (to.query.nextPage)
  			nextPage = to.query.nextPage;
  		else 
  			nextPage = from.path;


  		vm.saveNextPage(nextPage)
  	})
  },

  methods: {
    ...mapMutations({
    	saveNextPage: types.SAVE_NEXT_PAGE,
    }),
  }

}
</script>

<style lang="scss" scoped>
</style>