<template>
  <div class="screen-publish-ico">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-9 col-12">
					<div class="content">

						<!-- <div class="step-container">
							<div class="step-wrapper">
								<el-steps :active="activeStep" finish-status="success">
									<el-step title="Main" ></el-step>
							  	<el-step title="Other"></el-step>
								</el-steps>
							</div>
						</div> -->

						<PublishICOFirstStep
							v-if="activeStep == 0"
							:categories="categories"
							@goToNextStep="activeStep += 1"
						/>

						<PublishICOSecondStep
							v-if="activeStep == 1"
						/>

					</div>
				</div>
			</div>
		</div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import * as types from '../store/mutation-types';

import PublishICOFirstStep from "../components/ico-publish/PublishICOFirstStep";
import PublishICOSecondStep from "../components/ico-publish/PublishICOSecondStep";

export default {
  name: 'screen-publish-ico',

  components: {
    PublishICOFirstStep,
    PublishICOSecondStep,
  },

  computed: {
  	...mapGetters([
  		"categories",
		]),
  },

  data: () => ({
  	categoriesList: [
  		"Categories",
  		"Finance & Banking",
  		"Big Data & Data Storage",
  		"Business services",
  		"Casino & Gambling",
  		"Charity & Donations",
		],
		activeStep: 0,
  }),

  methods: {
  }
}
</script>

<style scoped lang="scss">
	// Переопределение дефолтных стилей
	.el-date-editor--daterange.el-input,
	.el-date-editor--daterange.el-input__inner,
	.el-date-editor--timerange.el-input,
	.el-date-editor--timerange.el-input__inner {
		width: 100%;
	}

	.screen-publish-ico {
		background: #f7f7f7;
		.content {
			padding: 50px 10px;

			.step-container {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 40px;

				.step-wrapper {
					// flex-shrink: 0;
					width: 90%;
				}
			}
		}
	}

	.form-item {
		width: 100%;
		margin-top: 30px;
		.input-label {
			display: flex;
			flex-direction: column;
			font-size: 0.9em;
			color: rgba(0,0,0, 0.7);
		}
	}

	.submit-btn {
		margin-top: 30px;
	}
</style>
