<template>
  <div class="screen-logIn">
    <auth-logIn/>
  </div>
</template>

<script>
import AuthLogIn from '../components/auth/AuthLogIn'

export default {
  name: 'ScreenLogIn',

  components: {
    AuthLogIn
  }
}
</script>

<style scoped lang="scss">
</style>
