<template>
  <div class="screen-logIn">
    <auth-signUp/>
  </div>
</template>

<script>
import AuthSignUp from '../components/auth/AuthSignUp'

export default {
  name: 'ScreenSignUp',

  components: {
    AuthSignUp
  }
}
</script>

<style scoped lang="scss">
</style>
