<template>
  <div class="screen-forum-list">

    <secondary-hero
      :title="'Welcome To Crypto Forum'"
      :text="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.'"
      img="https://blog.icobazaar.com/assets/img/logo.png"
    />

    <div class="container content">

      <div class="row">
        <div class="col-12 col-lg-8 col-xl-9 order-lg-1 order-2">
          <forum-list-header
            :indent="true"
          />

          <forum-list-theme />
        </div>

        <div class="col-12 col-lg-4 col-xl-3 order-lg-2 order-1">
          <forum-filter/>
        </div>
      </div>

    </div>

  </div>
</template>

<script>

import SecondaryHero from '@/components/secondary/SecondaryHero'

import ForumListTheme from '@/components/forum/ForumListTheme'
import ForumListHeader from '@/components/forum/ForumListHeader'
import ForumFilter from '@/components/forum/ForumFilter'

export default {
  name: 'ScreenForumList',

  components: {
    SecondaryHero,

    ForumListTheme,
    ForumListHeader,
    ForumFilter
  }
}
</script>

<style scoped lang="scss">
.screen-forum-list {
  .content {
    margin-top: -1.75rem;
  }
}
</style>
