<template>
  <div>
    <secondary-create-post
      :type="type"
    />
  </div>
</template>

<script>
import SecondaryCreatePost from '../components/secondary/SecondaryCreatePost'

export default {
  name: 'ScreenCreatePost',

  data: () => ({
    types: [
      'blog',
      'forum'
    ],

    type: ''
  }),

  created() {
    this.type = this.$route.params.type
  },

  components: {
    SecondaryCreatePost
  }
}
</script>

<style scoped lang="scss">
</style>
