<template>
  <div>
  	<policy-terms v-if="polisyName === 'terms'"></policy-terms>
  	<policy-cookie v-else-if="polisyName === 'cookie'"></policy-cookie>
  	<policy-privacy v-else-if="polisyName === 'privacy'"></policy-privacy>
  </div>
</template>

<script>
import PolicyTerms from '../components/policy/PolicyTerms'
import PolicyCookie from '../components/policy/PolicyCookie'
import PolicyPrivacy from '../components/policy/PolicyPrivacy'

export default {
  name: 'ScreenPolicy',

  data () {
  	return {
  		polisyName: this.$route.params.polisyName
  	}
  },

  created () {
  	if (
		this.polisyName !== 'terms' &&
		this.polisyName !== 'cookie' &&
		this.polisyName !== 'privacy'
	) {
		this.$router.push('/')
	}
  },

  components: {
    PolicyTerms,
    PolicyCookie,
    PolicyPrivacy
  }
}
</script>

<style scoped lang="scss">
</style>
