<template>
  <div>
    <main-search/>
    <main-top/>
    <main-payment/>
    <main-offer/>
    <main-join/>
  </div>
</template>

<script>
import MainSearch from '../components/main/MainSearch'
import MainTop from '../components/main/MainTop'
import MainPayment from '../components/main/MainPayment'
import MainOffer from '../components/main/MainOffer'
import MainJoin from '../components/main/MainJoin'

export default {
  name: 'ScreenMain',

  components: {
    MainSearch,
    MainTop,
    MainPayment,
    MainOffer,
    MainJoin
  }
}
</script>

<style scoped lang="scss">
</style>
