<template>
	<div class="screen-account">
		<header class="screen-account__header header">
			<div class="container">
		    <div class="row">
		      <div class="col-12">
		      	<h1 class="header__title">{{ titles[selectPage] }}</h1>
		      </div>
		    </div>
		  </div>
  	</header>
  	
  	<div class="screen-account__tabs">
  		<div class="container">
		    <div class="row">
		      <div class="col-12">
		      	<el-tabs v-model="selectPage" @tab-click="handleClick">
					    <el-tab-pane label="Profile" name="profile"></el-tab-pane>
					    <el-tab-pane label="My ICOs" name="campaigns"></el-tab-pane>
					  </el-tabs>
		      </div>
		    </div>
		  </div>
  	</div>
		
		<div class="screen-account__content content">
			<component :is="components[selectPage]" />
		</div>
	</div>
</template>

<script>
import AccountProfileSection from "@/components/account/AccountProfileSection"
import AccountMyIcoSection from "@/components/account/AccountMyIcoSection"

export default {

  name: 'ScreenAccount',

  components: {
		AccountProfileSection,
		AccountMyIcoSection,
  },

  data() {
    return {
    	selectPage: this.$route.params.page,

    	titles: {
    		profile: 'Profile',
    		campaigns: 'My ICOs',
    	},

    	components: {
    		profile: 'AccountProfileSection',
    		campaigns: 'AccountMyIcoSection',
    	}
    };
  },

  methods: {
    handleClick(tab, event) {
    	this.$router.replace(tab.name);
    }
  }
};
</script>

<style lang="scss">
	.screen-account {
		.el-tabs {
			&__item {
		    height: 75px !important;
		    line-height: 75px !important;
		    user-select: none;
		  }

		  &__active-bar {
		    bottom: 1px !important;
		    height: 3px !important;
			}

			&__header {
		    margin: 0 !important;
			}

			&__nav-wrap::after {
			  height: 0 !important;
			}
		}
	}
</style>

<style lang="scss" scoped>
.screen-account {
	&__tabs {
		background: #fff;
		border-bottom: 1px solid #e4e7ed;
	}

	.header {
		padding: 2.6rem 0;
		border-bottom: 1px solid #e4e7ed;

		&__title {
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

}
</style>
