<template>
  <div>
  	<payment-priceList></payment-priceList>
  </div>
</template>

<script>
import PaymentPriceList from '@/components/payment/PaymentPriceList'

export default {
  name: 'ScreenPriceList',

  components: {
    PaymentPriceList
  }
}
</script>

<style scoped lang="scss">
</style>
