<template>
  <div class="screen-ico-list">
		<div class="container">
			<div class="row">

				<div class="col-12 col-lg-8">
					<div class="ico-list">
						<h4 class="screen-ico-list__title">
							ICO List
							<!-- <span v-if="activeSort >= 0"> sorted by {{ sortBy[activeSort] }}</span> -->
						</h4>

						<div class="screen-ico-list__top-line" v-if="false">
							<div class="screen-ico-list__sort sort">
								<h6 class="sort__title">Sort by</h6>

								<div
									v-for="(item, index) of sortBy"
									:class="['sort__item', { 'sort__item--active': index === activeSort}]"
									@click="activeSort = index"
								>
									<span>{{ item }}</span>
								</div>
							</div>

							<div class="screen-ico-list__count-ICO">
								<span>{{ totalICO }} ICOs found</span>
							</div>
						</div>

						<template v-if="ICOList">
							<ICOListCard
								v-for="item of ICOList"
								:item="item"
							/>
						</template>

				    <div class="screen-ico-list__pagination">
				    	<el-pagination
                id="el-pagination-watch"
				    		@current-change="handleChangeCurrentPage"
					      :current-page.sync="currentPage"
                :pager-count="pagerCount"
					      layout="prev, pager, next"
					      :page-size="pageSize"
					      :total="totalICO"
					      background>
	    				</el-pagination>
				    </div>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="screen-ico-list__filters">
						<ICOListFilters
							:categories="categories"
							@search="handlerSearch"
						/>
					</div>
				</div>
			</div>
		</div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import * as types from '../store/mutation-types';

import ICOListFilters from "../components/ico-list/ICOListFilters";
import ICOListCard from "../components/ico-list/ICOListCard";

export default {
  name: 'screen-ico-list',

  components: {
  	ICOListFilters,
  	ICOListCard,
  },

  data: () => ({
  	pageSize: 20,
  	currentPage: 1,
    pagerCount: 5,

  	sortBy: ["Earliest start", "Earliest end", "Best rating"],
  	activeSort: -1,
  }),

  computed: {
  	...mapGetters([
  		"ICOList",
  		"totalICO",
  		"categories",
  	]),
  },

  watch: {
    ICOList() {
      this.currentPage = parseInt(this.$route.params.page)
      // this.$store.commit('SAVE_LOADING_PAGE_STATE', false)
    }
  },

  methods: {
    ...mapActions([
      "loaddingICOList",
    ]),
    ...mapMutations({
    	"saveFilters": types.SAVA_FILTERS_SEARCH_ICO,
    }),

    handleChangeCurrentPage(page) {

      // Add page number to url
      this.$router.push({
      	name: "ico-list",
      	params: { page: page },
      })

      this.loaddingICOList(page)
    },

    handlerSearch(filters) {
    	this.saveFilters(filters);

    	this.currentPage = 1;

    	this.$router.push({
  			name: 'ico-list',
        params: { page: 1 }
  		})

    	this.loaddingICOList(this.currentPage)

      // console.log('handlerSearch', filters);
    },
  },

  created() {
  	const page = this.$route.params.page;

  	if (page) {
      this.loaddingICOList(page)
  	} else {
      this.$router.push({
  			name: 'ico-list',
        params: { page: 1 }
  		})
      this.loaddingICOList(1)
  	}
  }
}
</script>

<style scoped lang="scss">
	.screen-ico-list {

		&__top-line {
			display: flex;
			margin-bottom: 20px;
		}

		&__count-ICO {
			margin-left: auto;
			color: #cdcdcd;
		}

		&__title {
			letter-spacing: 1.2px;
			font-weight: bold;
			margin: 40px 0;
			color: rgba(0,0,0, .7);
		}

		&__filters {
			width: 100%;
			padding: 40px 5%;
		}

		&__pagination {

      width: 100%;

      margin: 60px 0;

      display: flex;
      justify-content: center;
      align-items: center;
		}

	}

	.sort {
		display: flex;
		align-items: center;
		font-size: 0.9rem;

		&__title {
			font-size: 1.1rem;
			font-weight: bold;
			color: rgba(0,0,0, .6);
			// margin-bottom: 0;

			margin-right: 20px;

		}

		&__item {
			margin: 0 15px;
			color: #4fb7ff;
			cursor: pointer;

			&--active {
				color: rgba(0,0,0, .8);
			}
		}
	}



	@media screen and (max-width: 576px) {

		.screen-ico-list {

			&__sort {
	  		display: none;
	  	}
		}
	}
</style>
