<template>
  <div>
  	<payment-pay></payment-pay>
  </div>
</template>

<script>
import PaymentPay from '../components/payment/PaymentPay'

export default {
  name: 'ScreenPay',

  components: {
    PaymentPay
  }
}
</script>

<style scoped lang="scss">
</style>
