<template>
  <div class="screen-forum-post">
    <forum-post />
  </div>
</template>

<script>

import ForumPost from '@/components/forum/ForumPost'

export default {
  name: 'ScreenForumPost',

  components: {
    ForumPost
  }
}
</script>

<style scoped lang="scss">
  .screen-forum-post {

  }
</style>
