<template>
  <div>
    <blog-post></blog-post>
  </div>
</template>

<script>
import BlogPost from '../components/blog/BlogPost'

export default {
  name: 'ScreenBlogPost',

  components: {
    BlogPost
  }
}
</script>

<style scoped lang="scss">
</style>
