<template>
<div class="screen-expert-list">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <header class="screen-expert-list__header">
          <h1 class="screen-expert-list__title">Experts and Contributors</h1>
          <p class="screen-expert-list__description">
            The list of top experts and influences in the world of crypto which have contributed into our community the most.
          </p>
          <AppButton>Become an expert</AppButton>
        </header>
      </div>
      <div class="col-12">
        <expert-list-card
          v-for="i of 10"
        />
      </div>
    </div>
  </div>

</div>
</template>

<script>
import {
  mapActions,
  mapGetters
} from 'vuex'
import * as types from '@/store/mutation-types'

import AppButton from '@/components/global/AppButton'
import ExpertListCard from "@/components/expert/ExpertListCard"

export default {
  name: 'screen-expert-list',

  components: {
    ExpertListCard,
    AppButton
  },
}
</script>

<style scoped lang="scss">
@import '../partials/global';

.content {
    width: 100%;
}

.screen-expert-list {
    &__header {
        color: #607D8B;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 60px 0;
        font-weight: normal;
    }

    &__title {
        margin-bottom: 30px;
    }
}
</style>
