<template>
  <div class="screen-logIn">
    <auth-passwordReset/>
  </div>
</template>

<script>
import AuthPasswordReset from '../components/auth/AuthPasswordReset'

export default {
  name: 'ScreenPasswordReset',

  components: {
    AuthPasswordReset
  }
}
</script>

<style scoped lang="scss">
</style>
