<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google authentication -->
  <meta name="google-signin-client_id" content="509287225155-pacbc5t0vp01ncttniqvgn72t4lafgao.apps.googleusercontent.com">

  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>ICO Market</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../lib/fontawesome-free-5.1.1-web/css/all.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../lib/bootstrap-4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js">

  <!-- Owl Carousel CSS-->
  <link rel="stylesheet" href="../../lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../../lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

  <!-- Summernote WYSIWYG Editor -->
  <link rel="stylesheet" href="../../lib/Summernote-WYSIWYG-editor/dist/summernote-bs4.css">

</head>

<body>

  <noscript>
    <strong>We're sorry but auth-module doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>

  <!-- built files will be auto injected -->
  <div id="app"></div>

  <!-- JQuery JS -->
  <!-- for Summernote WYSIWYG Editor -->
  <script src="../../lib/JQuery/jquery-3.2.1.slim.min.js"></script>

  <!-- Bootstrap JS -->
  <!-- for Summernote WYSIWYG Editor  -->
  <script src="../../lib/popper/popper-1.11.0.min.js"></script>
  <script src="../../lib/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>

  <!-- Social authenticate -->
  <script src="../../../lib/hello.js-master/dist/hello.all.js"></script>

  <!-- Owl Carousel JS -->
  <script src="../../lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

  <!-- Summernote WYSIWYG Editor -->
  <script src="../../lib/Summernote-WYSIWYG-editor/summernote-bs4.min.js"></script>

</body>

</html>