<template>
  <div class="main-offer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 content">
          <h4 class="title">List your ICO on ICO Market</h4>
          <p class="subtitle">Publish ICO now and attract crypto investors and community to your project all over the world. Login or sign up to start free listing</p>
          <!-- <button class="btn btn-lg btn-primary">Publish ICO</button> -->
          <!-- <app-button-big>Publish ICO</app-button-big> -->
          <app-button style_new="font-size: 16px; padding: 12px 35px; border-radius: 5px;">Publish ICO</app-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppButton from '../global/AppButton'
export default {
  name: 'MainOffer',

  components: {
    AppButton
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.main-offer {
    background: linear-gradient(to right, #293F75, #4858A5);
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    color: $bg-color;
    padding: 2.5rem 15px;
    @media screen and (max-width: 992px) {
      align-items: center;
      text-align: center;
    }
    .title {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
    .subtitle {
        font-size: 0.99rem;
    }
  }
}
</style>
