<template>
  <div class="main-payment">
    <app-container-bordered>

      <h5 class="title">Purchase premium account!</h5>

      <secondary-premium-demo />

      <router-link :to="{ name: 'payment'}">
        <app-button
          class="btn-subscribe"
          style="background-color: #293F75; border-color: #293F75;">
          Choose Your Premium Package
        </app-button>
      </router-link>

    </app-container-bordered>
  </div>
</template>

<script>
import AppContainerBordered from '../global/AppContainerBordered'
import AppButton from '../global/AppButton'

import SecondaryPremiumDemo from '../secondary/SecondaryPremiumDemo'

export default {
  name: 'MainPayment',

  components: {
    AppContainerBordered,
    AppButton,

    SecondaryPremiumDemo
  }
}
</script>

<style scoped lang="scss">
.main-payment {
  .title {


    font-weight: bold;
  }
}
</style>
