<template>
<div class="main-statistic">

</div>
</template>

<script>
import {
  mapGetters
} from 'vuex'
export default {
  name: 'MainStatistic',

  computed: {
    ...mapGetters([
      'ICOList'
    ])
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';
.main-statistic {}
</style>
