<template>
<div class="main-join">

  <app-container-bordered>
    <h5 class="title">Join our community!</h5>
    <span class="subtitle">Subscribe to get updates on upcoming ICO's, special offers, and crypto market news.</span>
    <div class="form">
      <el-input placeholder="Your email">
      </el-input>
      <app-button
        class="btn-subscribe"
        style="background-color: #293F75; border-color: #293F75;">
        Subscribe now
      </app-button>
    </div>
    <app-social-links/>
  </app-container-bordered>

</div>
</template>

<script>
import AppButton from '../global/AppButton'
import AppSocialLinks from '../global/AppSocialLinks'
import AppContainerBordered from '../global/AppContainerBordered'

export default {
  name: 'main-join',

  components: {
    AppButton,
    AppSocialLinks,
    AppContainerBordered
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.main-join {
    padding-top: 2.5rem;

    .form {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .el-input {
            margin-right: 1.5rem;
            @media screen and (max-width: 991px) {
                margin-right: 0.5rem;
            }
            @media screen and (max-width: 767px) {
                margin-right: 1.5rem;
            }
        }
    }
}
</style>
