<template>
<div class="main-search">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-9">
        <h1 class="title">Find the best ICO to invest!</h1>
      </div>
      <div class="col-sm-6 col-lg-3 main-search__wrapper-button">
        <label class="btn-search-label">&#160;</label>
        <app-button
          class="btn-search"
          style="height 50px; padding: .5rem 1rem; font-size: 1.25rem; line-height: 1.5; border-radius: .3rem; background-color: #293F75; border-color: #293F75;"
          @appButtonClick="handlerAppButtonClick"
        >
          <i class="el-icon-search"></i>
          Search
        </app-button>
      </div>
    </div>
    <div class="row content">
      <!-- <div class="col-sm-6 col-lg-3">


        <label for="keyword">Keywords</label>
        <el-input class="input" placeholder="ICO name" id="keyword" v-model="form.keyword">
          <i class="el-icon-edit el-input__icon" slot="suffix"></i>
        </el-input>
      </div>
      <div class="col-sm-6 col-lg-3">

        <label for="category">Category</label>
        <el-select class="input" multiple placeholder="All" id="category" v-model="form.category">
          <el-option v-for="item in categoriesNewShape" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="col-sm-6 col-lg-3">

        <label for="status">Status</label>
        <el-select class="input" multiple placeholder="All" id="status" v-model="form.status">
          <el-option v-for="item in categoriesNewShape" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div> -->
      <!-- <div class="col-sm-6 col-lg-3 btn-search-container">
        <label class="btn-search-label">&#160;</label>
        <app-button class="btn-search" style="height 50px; padding: .5rem 1rem; font-size: 1.25rem; line-height: 1.5; border-radius: .3rem; background-color: #293F75; border-color: #293F75;"><i class="el-icon-search"></i> Search</app-button>
      </div> -->
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'

import AppButton from '../global/AppButton'
import AppButtonBig from '../global/AppButtonBig'
import AppInput from '../global/AppInput'

export default {
  name: 'MainSearch',

  components: {
    AppButton,
    AppButtonBig,
    AppInput
  },

  data: () => ({
    options: [{
      value: 'Option1',
      label: 'Option1'
    }, {
      value: 'Option2',
      label: 'Option2'
    }, {
      value: 'Option3',
      label: 'Option3'
    }, {
      value: 'Option4',
      label: 'Option4'
    }, {
      value: 'Option5',
      label: 'Option5'
    }],
    form: {
      keyword: '',
      category: '',
      status: ''
    }
  }),

  computed: {
    ...mapGetters([
      'categories'
    ]),

    categoriesNewShape() {

      let array = []
      let obj = {}

      for (var i = 0; i < this.categories.length; i++) {

        obj.value = this.categories[i].name
        obj.label = this.categories[i].name

        array.push(obj)
        obj = {}
      }

      return array
    }
  },

  methods: {
    handlerAppButtonClick() {
      this.$router.push({
        name: 'ico-list',
        params: { page: 1 }
      })
    },
  },
}
</script>

<style lang="scss">
.main-search .input {
    width: 100%;
    .el-input__inner {
        min-height: 50px;
    }
}
</style>

<style scoped lang="scss">
@import '../../partials/global';

.main-search {
    display: flex;
    padding: 3.5rem 0;
    background: $color-purple-bg;

    &__wrapper-button {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 992px) {
        .btn-search {
          margin-top: 2rem;
        }
      }
    }

    .title {
        color: $bg-color;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0;
        @media screen and (max-width: 992px) {
            font-size: 2rem;
        }
    }
    .content {
        text-align: left;
        @media screen and (max-width: 992px) {
            text-align: center;
        }
    }
    label {
        color: $bg-color;
        // margin-top: 1rem;
        font-size: 1.5rem;
    }
    .btn-search-label {
        color: transparent;
    }
    .btn-search-container {
      display: flex;
      flex-direction: column;
      .btn-search {
        transition: .3s;
        &:hover {
          background-color: darken($color-blue-dark, 5%) !important;
          border-color: darken($color-blue-dark, 5%) !important;
        }
      }
    }
}
</style>
