<template>
<div class="main-top" v-if="ICOListTop">
  <div class="container">
    <div class="row">

      <h2 class="title">Top rated and trending ICO</h2>

      <div class="col-12 owl-carousel owl-theme content">
        <!-- <secondary-card-top
          v-for="(ico, index) in ICOListTop"
          :image="ico.image"
          :title="ico.name"
          :rating="ico.rating"
          :dateStart="ico.start"
          :dateEnd="ico.end"
          :description="ico.short_description"
          :isContentCenter="false"
        /> -->

        <secondary-card-top
          @click="goToTopIco(ico.id)"
          v-for="(ico, index) in ICOListTop"
          :data="ico"
        />
      </div>

    </div>
  </div>
</div>
</template>

<script>
import {
  mapActions,
  mapGetters
} from 'vuex'

import SecondaryCardTop from '../secondary/SecondaryCardTop'

export default {
  name: 'MainTop',

  components: {
    SecondaryCardTop
  },

  data: () => ({
    topICOs: null
  }),

  computed: {
    ...mapGetters([
      'ICOListTop'
    ])
  },

  methods: {
    ...mapActions([
      'loaddingICOList'
    ]),

    goToTopIco(id) {
      this.router.push({ path: `/ico/${id}`})
    },

    owlInit() {
      $(document).ready(() => {
        $('.owl-carousel').owlCarousel({
          margin: 30,
          loop: false,
          smartSpeed: 250,
          nav: false,
          dots: true,
          responsive: {
            0: {
              items: 1
            },
            770: {
              items: 2
            },
            992: {
              items: 3
            },
            1198: {
              items: 4
            }
          }
        })
      })
    }
  },

  mounted() {
    this.$nextTick(() => {
      if (this.ICOListTop.length) {
        this.owlInit()
      }
    })
  },

  updated() {
    this.owlInit()
  },

}
</script>

<style lang="scss">
@import '../../partials/global';

.owl-item {
  padding: 10px;

  .el-card {
    border-radius: 10px;
  }
}

.owl-dots {
    margin-top: 2rem !important;
    .owl-dot {
        &:focus {
            outline: 0;
        }
        &.active span {
            background: $color-primary !important;
        }
        &:hover span {
            background: lighten($color-primary, 20%) !important;
        }
    }
}
</style>

<style scoped lang="scss">
.main-top .row {
    padding: 2.5rem 0;

    .title {
        font-size: 1.75rem;
        margin: 0 auto 2rem;
    }

}
</style>
