<template>
    <app-card v-if="data.description">
      <div class="ico-card-description description">

        <div class="description__video">
          <iframe
            v-if="data.video_link"
            :src="data.video_link"
            width="100%"
            height="400px"
            frameborder="0"
            allow="encrypted-media"
            allowfullscreen="allowfullscreen">
          </iframe>
        </div>

        <div class="description__content" v-html="data.description"></div>

      </div>
    </app-card>
</template>

<script>
import AppCard from "../global/AppCard"

export default {
  name: 'ICOCardDescription',

  components: {
    AppCard
  },

  props: {
    data: {
      type: Object,
      default: {}
    }
  }
}
</script>

<style media="screen">
p {
  word-wrap: break-word;
}
</style>

<style scoped lang="scss">
@import '../../partials/global';

  .description {

    padding: 20px;

    &__title {

        margin-bottom: 2rem;

        font-weight: bold;

        color: $bg-color-dark;
    }

    &__video {

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {

      margin-top: 2rem;
    }
  }
</style>
