<template>
  <app-card v-if="data">
    <div class="ico-card-info" >
      <div class="ico-card-info__header header">
        <img class="header__logo" :src="data.image" height="35" width="35" alt="ico-image">
        <h6 class="header__title">Token sale info:</h6>
      </div>

      <div class="ico-card-info__main main">

        <hr>

        <div class="main__info info">
          <div class="info__item" v-if="item.value" v-for="item in icoInfo">
            <div class="info__icon">{{ item.key }}:</div>
            <div class="info__text">{{ item.value }}</div>
          </div>
        </div>

        <div class="main_paper paper" v-if="data.whitepaper_link">
          <a class="paper__item" :href="data.whitepaper_link" target="_blank">
            <div class="paper__icon"><i class="far fa-file"></i></div>
            <div class="paper__text">Whitepaper</div>
          </a>
        </div>

        <a class="ico-card-info__link"
          :href="data.website_link"
          target="_blank"
        >
          Find out more
        </a>

      </div>
    </div>
  </app-card>
</template>

<script>
import AppCard from "../global/AppCard"

export default {
  name: 'ico-card-info',

  components: {
    AppCard
  },

  props: {
  	data: {
      type: Object,
      default: {}
    },
  	// categories: Array,
  },

  data: () => ({
    icoInfo: []
  }),

  computed: {
  	paymentDetails() {
  		const paymentDetailsString = this.data['payment_details'];
  		return JSON.parse(paymentDetailsString)
  	},
  },

  mounted() {
    let icoInfo = [
      {
        key: 'Start',
        value: this.data.start
      },{
        key: 'End',
        value: this.data.end
      },{
        key: 'Cap',
        value: this.paymentDetails.cap
      },{
        key: 'Goal',
        value: this.paymentDetails.goal
      },{
        key: 'Price',
        value: this.paymentDetails.price
      },{
        key: 'White'
      }
    ]

    this.icoInfo = icoInfo
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

	.ico-card-info {

    padding: 20px;

		&__link {

      display: block;

      width: 100%;

      margin: 25px 0 16px;
      padding: 10px;

      text-decoration: none;
      text-align: center;

      color: $bg-color-light;
      background: $color-purple-bg;

      border-radius: 3px;
			box-shadow: 0 17px 25px rgba(37, 59, 110, 0.22);

			transition: .2s;

			&:hover {
        cursor: pointer;
				opacity: 0.8;
			}
		}
	}

	.header {

    margin-bottom: .5rem;

    display: flex;
    flex-wrap: wrap;
		align-items: center;

		&__logo {
			margin-right: 1rem;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
        height: auto;
      }

		}

		&__title {
			margin: 0;
		}
	}

	.info, .paper {

		margin-top: 10px;

		&__item {

      padding: 5px 0;

      display: flex;
      flex-wrap: wrap;

      font-size: 1rem;

      color: #878787;

      @media (min-width: 768px) and (max-width: 1199px) {
        font-size: .75rem;
      }
		}

		&__icon {
			flex: 1;

      @media (min-width: 768px) and (max-width: 991px) {
        flex: none;
        width: 100%;
      }
		}

		&__text {
			flex: 2;
			color: #333333;
		}
	}

  .paper {

    &__item, &__text {

      color: $color-purple-bg;

      &:hover {
        color: #0056B3;
      }
    }
  }

</style>
