<template>
	<div class="ico-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-sm-2 d-flex justify-content-center">
					<img class="ico-header__image" 
						:src="data.image" 
						height="70"
						width="70" 
						alt="ico-image"
					>
				</div>
				<div class="col-12 col-sm-10">
					<div class="ico-header__content content">
						<div class="content__main-info">
							<h5 class="ico-header__title">{{ data.name }}</h5>
						</div>
						<div class="content__other-info">
							<span class="ico-header__short-description">{{ shortDescriptionICO }}</span>

							<div>
								<a :href="data.whitepaper_link" class="ico-header__white-paper">
									Whitepaper
									<i class="fa fa-file"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'screen-ico',

  props: {
  	data: Object,
  },

  computed: {
  	shortDescriptionICO() {
 			const index = this.data.short_description.indexOf(".");

 			return this.data.short_description.slice(0, index);
 		},
  },
}
</script>

<style scoped lang="scss">
	.ico-header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(0,0,0, 0.07);
		padding: 20px;
		background: #fff;
		box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);

		&__image-container {
			// display: flex;
			// justify-content: center;
			// flex: 1;
			// height: 70px;
			// margin-right: 5%;
		}

		&__image {
			// height: 70px;
			// width: 70px;
		}

		&__title {
			font-size: 1.1em;
			font-weight: bold;
		}

		&__short-description {
			font-size: 0.8em;
		}

		&__white-paper {
			margin-top: 5px;
			color: #5ebcff;
			font-size: 0.8em;
			text-decoration: none;

			i.fa {
				// color: #fff;
				margin-left: 3px;
			}
		}

		&__content {
			flex: 5;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media screen and (max-width: 575px) {
		.ico-header {
			padding: 10px;

			&__image {
				margin-bottom: 15px;
			}
		}
	}
</style>
