<template>
	<div class="account-my-ico-section">
		<div class="container">
			<div class="account-my-ico-section__content">
				
				<div class="row">

					<div class="col-12">
						<div class="ico-list">

							<template v-if="ICOUserList">
								<ICOUserCard
									v-for="item of ICOUserList"
									:item="item"
								/>
							</template>
							
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

import ICOUserCard from "@/components/account/ICOUserCard";

export default {

  name: 'AccountMyIcoSection',

  components: {
  	ICOUserCard,
  },

  data() {
    return {
    	
    };
  },

  computed: {
  	...mapGetters([
  		"ICOUserList",
  	]),
  },

  methods: {
    ...mapActions([
      "loaddingUserICO",
    ]),
  },

  created() {
  	this.loaddingUserICO()
  }
};
</script>

<style lang="scss" scoped>
.account-my-ico-section {
	&__content {
		margin-top: 2rem;
	}
}
</style>
