<template>
	<div class="account-profile-section">
		<div class="container">
	    <div class="row">

	      <div class="col-12">
	      	<div class="account-profile-section__content content">

		      	<div class="content__main-block main-block">

							<div class="main-block__reset reset">
		      			<div class="d-flex">
		      				<div class="main-block__blok-avatar blok-avatar">
		      					<img
		      						class="blok-avatar__image"
			      					:src="imageUrl ? imageUrl : imageValue"
			      					alt=""
			      				>

			      				<i
			      					class="fas fa-times blok-avatar__icon"
			      					v-show="imageUrl"
			      					@click="canselUploader"
			      				></i>
		      				</div>

									<div class="main-block__avatar-load avatar-load" :style="isShow">
										<el-upload
										  class="avatar-uploader"
										  action=""
										  :http-request="onImageChange"
		                  :before-upload="beforeAvatarUpload">
										  <img v-if="imageUrl" :src="imageUrl" class="avatar">
										  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
										</el-upload>
									</div>
		      			</div>

			      		<div class="reset__user-info user-info">
			      			<div
										class="user-info__input input"
									>
							  		<span class="input__label">Full Name *</span>
									  <el-input
									    placeholder="Name"
									    v-model="nameValue">
									  </el-input>
							  	</div>

							  	<span class="user-info__email">{{ email }}</span>

							  	<app-button
						        class="user-info__btn"
						        style="background-color: #293F75; border-color: #293F75; padding: 0.8rem 2rem; font-size: 0.9rem;"
						        @appButtonClick="handelUpdataUserInfo"
						       >
						        Save changes
						      </app-button>
			      		</div>
			      	</div>

							<div class="main-block__reset reset">
			      		<div class="reset__user-info user-info">
			      			<header class="user-info__title">
			      				Set password
			      			</header>

			      			<div
										class="user-info__input input"
										v-for="data in resetPasswordData"
									>
							  		<span class="input__label">{{ data.label }}</span>
									  <el-input
									    v-model="data.value">
									  </el-input>
							  	</div>

							  	<app-button
						        class="user-info__btn"
						        style="background-color: #293F75; border-color: #293F75; padding: 0.8rem 2rem; font-size: 0.9rem;"
						        @appButtonClick="handelUpdataPassword()"
						       >
						        Save changes
						      </app-button>
			      		</div>
			      	</div>

			      </div>

		      	<div class="d-none d-md-flex account-profile-section__info-block info-block">
		      		<img src="@/assets/eprofile-info-block.webp" alt="">

		      		<div class="info-block__text">
		      			Fill in the details to publish your profile on our site and find partners, leads and more
		      		</div>

		      		<img src="@/assets/eprofile-info-block2.webp" alt="">
		      	</div>

					</div>
	      </div>

	    </div>
	  </div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AppButton from '../global/AppButton'

export default {

  name: 'AccountProfileSection',

   components: {
    AppButton,
  },

  data() {
    return {
    	nameValue: '',
    	imageValue: '',

    	imageForm: '',
    	imageUrl: '',

    	isShowUploader: false,

    	resetPasswordData: {
    		oldPassword: {
    			label: 'Old Password',
    			value: '',
    		},

    		password: {
    			label: 'Password',
    			value: '',
    		},

    		confirmPassword: {
    			label: 'Repeat new password',
    			value: '',
    		},
    	}
    };
  },

  computed: {
  	isShow () {
  		return this.imageUrl ? {display: 'none', transition: '0.3s'} : {}
  	},

    ...mapGetters([
        'name',
        'email',
        'image',
      ])
  },

  created () {
  	this.nameValue = this.name
  	this.imageValue = this.image
  },

  watch: {
    name: function (val) {
      this.nameValue = val
    },

    image: function (val) {
      this.imageValue = val
    },
  },

  methods: {
  	handelUpdataPassword () {
  		this.updataPassword(
  			{
  				oldPassword: this.resetPasswordData.oldPassword.value,
  				password: this.resetPasswordData.password.value,
  			}
  		)
  	},

  	handelUpdataUserInfo () {
      var formData = new FormData();

      formData.append('image', this.imageForm);
      formData.append('name', this.nameValue);

      this.updataInfo(formData)

      this.imageUrl = null
    },

  	canselUploader () {
  		this.imageUrl = null
  	},

  	onImageChange (data) {
      this.imageForm = data.file;

      this.imageUrl = URL.createObjectURL(data.file);
    },

    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error('Avatar picture must be JPG format!');
				return false
      }
      if (!isLt2M) {
        this.$message.error('Avatar picture size can not exceed 2MB!');
				return false
      }

			return true;
    },

    ...mapActions([
      'updataPassword',
      'updataInfo',
    ])
  },
};
</script>

<style lang="scss">
.account-profile-section {
	.avatar-uploader {
		//opacity: 0;
		//display: none;

		margin-right: 2rem;
	}

	.el-upload-list {
    width: 100px !important;
    display: none;
	}

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .el-upload-list__item-name {
    max-width: 90px !important;
    margin-right: 10px !important;
    padding-left: 0 !important;
	}

  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
}
</style>

<style lang="scss">
.account-profile-section {
	.el-input__inner {
		height: 45px !important;
    line-height: 45px !important;
    font-size: 1.1rem !important;
    margin-top: 0.6rem;
	}
}
</style>

<style lang="scss" scoped>
.account-profile-section {
	padding: 2rem 0;
	background: #fff;

	.content {
		display: flex;
		align-items: flex-start;

		.info-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			flex: 1;

			box-shadow: 0 17px 27px rgba(37,59,110,.26);
	    border-radius: 5px;
	    background: #fff;
	    padding: 2.5rem 1.1rem;
	    min-width: 230px;
	    //margin: 0 15px;

	    &__text {
	    	font-size: 1.5rem;
	    	line-height: 35px;
	    	margin: 0.5rem 0 1rem 0;
	    }
		}

		.main-block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: 4.1;

			margin-right: 1.2rem;
			transition: 0.3s;

			.reset {
				display: flex;

				width: 100%;
				height: auto;

				box-shadow: 0 17px 27px rgba(37,59,110,.26);
		    border-radius: 5px;
		    background: #fff;
		    padding: 2.5rem 1.6rem;
		    margin-bottom: 1.2rem;

		    .blok-avatar {
		    	position: relative;
		    	margin-right: 2rem;

		    	&__image {
			    	position: relative;

			    	width: 100px;
			    	height: 100px;

						border-radius: 50%;

						object-fit: cover;

			    	&:hover {
			    		.avatar-load {
			    			opacity: 1 !important;
			    		}
			    	}
			    }

			    &__icon {
			    	position: absolute;
			    	top: 0.5rem;
			    	right: 0.5rem;

			    	font-size: 0.75rem;

			    	z-index: 11;

			    	transition: 0.3s;

			    	&:hover {
			    		color: #828bff;
			    		font-weight: bold;
			    		cursor: pointer;
			    		transition: 0.3s;
			    	}
			    }
		    }


		    .avatar-load {
		    	z-index: 10;
		    	position: absolute;
		    	opacity: 0;
		    	transition: .3s;

		    	&:hover {
		    		opacity: 1 !important;
		    		transition: .3s;
		    	}
		    }

		    .user-info {
		    	display: flex;
					flex-direction: column;
		    	flex: 4;

		    	&__title {
						font-size: 1.3rem;
						margin-bottom: 1rem;
		    	}

				  &__email {
						margin-top: 0.7rem;
						color: #a3a3a3;
						font-size: 0.95rem;
					}

					&__btn {
						margin-top: 1.5rem;
						width: 175px;
						margin-left: auto;

						&:hover {
							background: #405da2 !important;
							border: 1px solid #405da2 !important;
						}
					}

					.input {
				  	margin-bottom: 0.8rem;

						&__label {
							margin-left: 0.1rem;
							font-size: 1.1rem;
						}
				  }
		    }
			}
		}
	}
}

@media (max-width: 767.98px) {
	.main-block {
		margin: 0 !important;

		.reset {
			flex-direction: column;

			&__logo {
				margin: 0 !important;
				margin-bottom: 1.2rem !important;
				align-self: center;
			}
		}
	}
}

@media (max-width: 575.98px) {
	.user-info {
		&__btn {
			width: 100% !important;
		}
	}
}
</style>
