<template>
  <div :class="['ico-list-card', { isHover: isHover }]">

		<div class="ico-list-card__logo">
  		<img 
  			:src="'https://cdn.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png'"
  			height="80"
  			width="80"
  			alt="ico-image"
  		>
  	</div>

		<div class="ico-list-card__content content">
			<span class="content__name" @click="$router.push(`/ico/${item.id}`)">
				{{ icoName }}
			</span>

			<span class="content__status">
        Draft
      </span>

      <div class="content__rate">
				<el-rate
		      disabled
					v-model="item.rating"
		    	:colors="['#99A9BF', '#F7BA2A', '#FF9900']"
		    	disabled
		  	>
			  </el-rate>
			</div>

			<div class="content__actions actions">
				<i class="fas fa-pen actions__item"></i>
				<i class="fas fa-trash-alt actions__item" @click="handleDeleteIco"></i>
			</div>
		</div>

	</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  name: 'ICOUserCard',

  props: {
  	item: {
  		type: Object,
  		default: {},
  	},

    isHover: {
      type: Boolean,
      default: true
    },

    isHeader: {
      type: Boolean,
      default: false
    }
  },

  computed: {
  	icoName() {
  		const index = this.item.name.indexOf(")");

			if (index >= 0)
				return this.item.name.slice(0, index + 1);
			else
				return this.item.name;
  	},
  },

  methods: {
  	handleDeleteIco () {
  		this.deleteIco(this.item.id)
  	},
    ...mapActions([
      "deleteIco"
    ]),
  },
};
</script>

<style scoped lang="scss">
@import '../../partials/_global';

.router-link {
  text-decoration: none;
}

.isHover {

  &:hover {
    //cursor: pointer;
    //transform: scale(1.05);
  }
}

	.ico-list-card {
		width: 100%;

    padding: 15px;
    margin-bottom: 20px;

		display: flex;
		align-items: center;

    font-size: 1rem;

    border-radius: 5px;

    background: #fff;
    color: $color-secondary-dark;
    box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);

    cursor: default;
		transition: .3s;

		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			float: left;

			&__name {
				width: 25%;
				color: #828bff;
				margin: 0;
				margin-left: 1.1rem;
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;

		    float: right;

		    &:hover {
			    cursor: pointer;
			    color: #828bff;
			    transition: .3s;
			  }
			}

			&__status {
				width: 10%;
				margin: 0;
				margin-left: 1.1rem;
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;

		    clear: both;
    		float: left;
			}

			&__rate {
				//width: 20%;
				margin-left: 1.1rem;
				white-space: nowrap;

				clear: both;
    		float: left;
			}

			.actions {
				display: flex;
				justify-content: flex-end;

				margin-left: 1.1rem;
				width: 15%;

				float: left;

				&__item {

					&:hover {
				    cursor: pointer;
				    color: #828bff;
				    transition: .3s;
				  }

					&:first-child {
						margin-right: 1rem;
					}
				}
			}
		}

	}

</style>
