<template>
  <div :class="['forum-list-header', { 'forum-list-header--indent' : indent }]">
    <app-card>

      <div class="container">
        <div class="row">
          <div class="col-md-2 d-md-flex d-none forum-list-header__image">
            <i class="fas fa-user forum-list-header__icon"></i>
            <span class="forum-list-header__name">Image</span>
          </div>
          <div class="col-md-3 col-5 forum-list-header__theme">
            <i class="fas fa-bars forum-list-header__icon"></i>
            <span class="forum-list-header__name">Theme</span>
          </div>
          <div class="col-3 forum-list-header__category">
            <i class="fas fa-square forum-list-header__icon"></i>
            <span class="forum-list-header__name">Category</span>
          </div>
          <div class="col-2 forum-list-header__views">
            <i class="far fa-eye forum-list-header__icon"></i>
            <span class="forum-list-header__name">Views</span>
          </div>
          <div class="col-2 forum-list-header__likes">
            <i class="far fa-thumbs-up forum-list-header__icon"></i>
            <span class="forum-list-header__name">Likes</span>
          </div>
        </div>
      </div>

    </app-card>
  </div>
</template>

<script>
import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumListHeader',

  components: {
    AppCard
  },

  props: {
    indent: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
.forum-list-header {

  &--indent {
    // margin-top: -1.75rem;
  }

  &__views {
      text-align: center;
  }

  &__likes {
    text-align: right;
  }

  &__icon {
    margin-right: .5rem;
  }

  @media (max-width: 767px) {
    &__name {
      display: none;
    }
  }

  @media (min-width: 991px) and (max-width: 1199px) {
    font-size: .95rem;
  }
}
</style>
