<template>
  <app-card v-if="is_authenticated">
    <div class="forum-write-comment">

      <div class="forum-write-comment__avatar">
        <img
          class="forum-write-comment__img"
          :src="image"
          alt="forum-post-image"
        >
      </div>

      <div class="forum-write-comment__content content">

        <div class="content__header">
          <div v-if="writeCommentTo" class="content__name">
              {{ name }} <span class="content__modificator"> to {{ writeCommentTo.name }}
                <i class="content__icon content__icon--close el-icon-circle-close-outline"
                  @click="$emit('update:writeCommentTo', null)">
                </i>
              </span>
          </div>
          <div v-else class="content__name">{{ name }}</div>
          <small class="content__time"><i class="far fa-clock"></i> {{ getDate() }}</small>
        </div>

        <div class="content__write">
          <app-textarea
            v-model="textarea"
            :value="textarea"
          />
        </div>

        <transition name="fade">
          <div class="content__btns" v-if="!!textarea">
            <app-button
              @appButtonClick="appButtonClickHandlerSend"
              type="success"
              size="mini"
              :loading="loading"
              round
            >Send</app-button>

            <app-button
              @appButtonClick="appButtonClickHandlerCancel"
              type="info"
              size="mini"
              round
            >Cancel</app-button>
          </div>
        </transition>

      </div>

    </div>
  </app-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppButton from '@/components/global/AppButton'
import AppTextarea from '@/components/global/AppTextarea'
import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumWriteComment',

  components: {
    AppButton,
    AppCard,
    AppTextarea
  },

  props: {
    data: {
      type: Object,
      default: {}
    },

    writeCommentTo: {
      type: Object,
      default: null
    },

    editCommentText: {
      type: Object,
      default: null
    },

    deleteCommentId: {
      types: [String, Number],
      default: null
    }
  },

  watch: {
    editCommentText(val) {
      if (val) {
        this.$emit('update:writeCommentTo', null)
        setTimeout(() => { this.textarea = val.content })
      }
    },

    writeCommentTo() {
      this.textarea = ''
      this.$emit('update:editCommentText', null)
    },

    deleteCommentId(id) {
      this.deleteForumComment(id)
    }
  },

  data: () => ({
    textarea: '',
    months: [
      "January", "February", "March",
      "April", "May", "June",
      "July", "August", "September",
      "October", "November", "December"
    ]
  }),

  computed: {
    ...mapGetters([
      'name',
      'image',
      'is_authenticated',
      'loading'
    ]),
  },

  methods: {
    ...mapActions([
      'createForumComment',
      'updateForumComment',
      'deleteForumComment'
    ]),

    getDate() {
      let date = new Date()

      let dd = date.getDate()
      if (dd < 10) dd = '0' + dd;

      let mm = date.getMonth()
      if (mm < 10) mm = '0' + mm;

      var yy = date.getFullYear();
      if (yy < 10) yy = '0' + yy;

      return dd + ' ' + this.months[parseInt(mm)] + ', ' + yy;
    },

    appButtonClickHandlerSend() {

      if (this.editCommentText)
      this.updateForumComment({
        content: this.textarea,
        id: this.editCommentText.id
      })

      else
      this.createForumComment({
        post_id: this.$route.params.id,
        content: this.textarea,
        parent_id: this.writeCommentTo ? this.writeCommentTo.id : ''
      })

      this.textarea = ''
      this.$emit('update:writeCommentTo', null)
    },

    appButtonClickHandlerCancel() {
      this.textarea = ''
      this.$emit('update:writeCommentTo', null)
    }
  }
}
</script>

<style scoped lang="scss">

@import '../../partials/global';

  .forum-write-comment {

    display: flex;
    flex-direction: row;

    &__avatar {
      flex: 1;
    }

    &__img {
      height: 4rem;
      width: 4rem;

      border-radius: 50%;

      object-fit: cover;

      @media (max-width: 575px) {
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    .content {

      margin-left: 15px;

      flex: 9;

      &__header {
      }

      &__name {
        width: 100%;
        font-size: 1rem;
      }

      &__modificator {
        color: $color-purple-bg;
      }

      &__time {
        width: 100%;
        font-size: .75rem;
        color: $color-secondary-dark;
      }

      &__write {
        margin-top: .5rem;
      }

      &__icon {
        line-height: 1;

        &--close {
          &:hover {
            cursor: pointer;
            transform: scale(1.25);
          }
        }
      }

      &__btns {
        display: flex;
        width: 100%;
        margin-top: 15px;
        justify-content: flex-end;
      }

    }

  }
</style>
