<template>
  <div class="forum-post" v-if="Object.keys(forumPostData).length">
    <div class="container">

      <div class="row">

        <div class="col-md-9 col-12">
          <forum-card-post
            :data="forumPostData"
          />
        </div>

        <div class="col-md-3 col-12">
          <forum-card-info
            :data="forumPostData"
            :is_authenticated="is_authenticated"
          />
        </div>

      </div>

      <div class="row forum-post__wrapper-comments">

        <div class="col-md-9 col-12 forum-post__comments">
          <forum-list-comments
            :data="forumPostData"
            @handlerClickAddComment="handlerClickAddComment"
            @handlerClickEditComment="handlerClickEditComment"
            @handlerClickDeleteComment="handlerClickDeleteComment"
            :is_authenticated="is_authenticated"
            :currentUserId="user_id"
          />
        </div>

      </div>

      <div class="row">

        <div class="col-md-9 col-12">
          <forum-write-comment
            :data="forumPostData"
            :writeCommentTo.sync="writeCommentTo"
            :editCommentText.sync="editCommentText"
            :deleteCommentId.sync="deleteCommentId"
          />
        </div>

      </div>

    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'

import ForumListHeader from './ForumListHeader'
import ForumListCard from './ForumListCard'
import ForumListComments from './ForumListComments'
import ForumWriteComment from './ForumWriteComment'
import ForumCardPost from './ForumCardPost'
import ForumCardInfo from './ForumCardInfo'


export default {
  name: 'ForumPost',

  components: {
    ForumListHeader,
    ForumListCard,
    ForumListComments,
    ForumWriteComment,
    ForumCardPost,
    ForumCardInfo,
  },

  data: () => ({
    writeCommentTo: null,
    editCommentText: null,
    deleteCommentId: null
  }),

  computed: {
    ...mapGetters([
      'forumPostData',
      'is_authenticated',
      'user_id'
    ])
  },

  created() {
    this.getForumPostData(this.$route.params.id)
  },

  methods: {
    ...mapActions([
      'getForumPostData'
    ]),

    handlerClickAddComment(data) {
      this.writeCommentTo = data
    },
    handlerClickEditComment(data) {
      this.editCommentText = data
    },
    handlerClickDeleteComment(id) {
      this.deleteCommentId = id
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

  .forum-post {
    padding-top: 20px;

    &__wrapper-comments {
    }


    &__comments {
    }
  }
</style>
