<template>
<app-card>
  <div class="forum-card-post">

    <h2 class="forum-card-post__title">{{ data.title }}</h2>

    <div class="forum-card-post__description" v-html="data.content"></div>

  </div>
</app-card>
</template>

<script>
import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumCardPost',

  components: {
    AppCard
  },

  props: {
    data: {
      type: Object,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">

@import '../../partials/global';

.forum-card-post {

    padding: 20px;

    &__title {
      color: $color-purple-bg;
    }
}
</style>
