<template>
  <app-card>
    <div class="forum-card-comment">

      <div class="forum-card-comment__avatar">
        <img
          class="forum-card-comment__img"
          :src="data.img ? data.img : 'https://ccnowpro.com/icoList/public/uploads/defaultUserImage.png'"
          alt="forum-post-image"
        >
      </div>

      <div class="forum-card-comment__content content">

        <div class="content__header">
          <div :class="['content__name', { 'content__name--my' : data.user_id == currentUserId }]">{{ data.user }}</div>

          <template v-if="is_authenticated">

            <i class="content__icon content__icon--answer el-icon-message"
              v-if="!noAnswer"
              @click="$emit('handlerClickAddComment', {
                id: data.id,
                name: data.user
              })"
            ></i>

            <template v-if="data.user_id == currentUserId">
              <i class="content__icon content__icon--edit el-icon-edit"
                @click="$emit('handlerClickEditComment', {
                  id: data.id,
                  content: data.content
                })">
              </i>
              <i class="content__icon content__icon--delete el-icon-delete"
              @click="$emit('handlerClickDeleteComment', data.id)">
            </i>
            </template>
          </template>

        </div>
        <small class="content__time"><i class="far fa-clock"></i>
          {{ data.created_at.date.split(' ')[0] }}
          <!-- {{ data }} -->
        </small>

        <div class="content__text">
          <span class="text">{{ data.content }}</span>
        </div>

      </div>

    </div>
  </app-card>
</template>

<script>

import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumCardComment',

  components: {
    AppCard
  },

  props: {
    data: {
      type: Object,
      default: {},
      required: true
    },
    noAnswer: {
      type: Boolean
    },
    currentUserId: {
      types: [String, Number],
      default: null
    },
    is_authenticated: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">

@import '../../partials/global';

.forum-card-comment {

  display: flex;
  flex-direction: row;

  &:hover {

    .content {

      &__text {
        color: inherit;
      }
    }
  }

  &__avatar {
    flex: 1;
  }

  .content {

    margin-left: 15px;

    flex: 9;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__icon {

      color: $color-secondary;
      transition: .2s;
      margin-left: 1rem;
      line-height: 1;

      &:hover {
        cursor: pointer;
      }

      &--answer {
        &:hover {
          color: $color-success;
        }
      }

      &--edit {
        &:hover {
          color: $color-star;
        }
      }

      &--delete {
        &:hover {
          color: $color-danger;
        }
      }
    }

    &__name {
      width: 100%;

      font-size: 1rem;

      transition: .2s;

      &--my {
        color: $color-purple-bg;
      }
    }

    &__time {
      width: 100%;
      font-size: .75rem;
      color: $color-secondary-dark;
    }

    &__text {
      margin-top: .5rem;

      font-size: .95rem;

      color: $color-secondary-dark;

      transition: .2s;
    }
  }
}
</style>
