<template>
  <div class="forum-list-comments">

    <div class="forum-list-comments__title">
      Comments: {{ data.comment_count }}
    </div>

    <div
      v-if="data.comments.length"
      v-for="item in data.comments"
    >

      <forum-card-comment
        @handlerClickAddComment="handlerClickAddComment"
        @handlerClickEditComment="handlerClickEditComment"
        @handlerClickDeleteComment="handlerClickDeleteComment"
        :data="item"
        :currentUserId="currentUserId"
        :is_authenticated="is_authenticated"
      />

      <div
        v-if="item.children_comment.length"
        v-for="item2 in item.children_comment"
        class="forum-list-comments__child">

        <forum-card-comment
          @handlerClickEditComment="handlerClickEditComment"
          @handlerClickDeleteComment="handlerClickDeleteComment"
          :data="item2"
          noAnswer
          :currentUserId="currentUserId"
          :is_authenticated="is_authenticated"
        />

      </div>

    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ForumCardComment from './ForumCardComment'

export default {
  name: 'ForumListComments',

  components: {
    ForumCardComment
  },

  props: {
    data: {
      type: Object,
      default: () => ({})
    },
    is_authenticated: {
      type: Boolean,
      default: false
    },
    currentUserId: {
      types: [String, Number],
      default: null
    }
  },

  data: () => ({
    // data: [
    //   {
    //     img: 'https://image.flaticon.com/icons/svg/149/149072.svg',
    //     name: 'Lemiy Apolo',
    //     time: '18, April 2018',
    //     text: 'Incididunt adipisicing dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
    //     children: [
    //       {
    //         img: 'https://image.flaticon.com/icons/svg/236/236831.svg',
    //         name: 'Marko Polo',
    //         time: '19, April 2018',
    //         text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    //       },{
    //         img: 'https://image.flaticon.com/icons/svg/236/236832.svg',
    //         name: 'Fedor Voryn',
    //         time: '19, April 2018',
    //         text: ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
    //       }
    //     ]
    //   },
    //   {
    //     img: 'https://image.flaticon.com/icons/svg/236/236831.svg',
    //     name: 'Lemiy Apolo',
    //     time: '20, April 2018',
    //     text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
    //     children: [
    //       {
    //         img: 'https://image.flaticon.com/icons/svg/236/236832.svg',
    //         name: 'Marko Polo',
    //         time: '20, April 2018',
    //         text: 'Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    //       }
    //     ]
    //   },
    //   {
    //     img: 'https://image.flaticon.com/icons/svg/149/149072.svg',
    //     name: 'Lemiy Apolo',
    //     time: '25, April 2018',
    //     text: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
    //     children: []
    //   }
    // ]
  }),

  created() {
    console.log(this.data);
  },

  methods: {
    handlerClickAddComment(data) {
      this.$emit('handlerClickAddComment', data)
    },
    handlerClickEditComment(data) {
      this.$emit('handlerClickEditComment', data)
    },
    handlerClickDeleteComment(id) {
      this.$emit('handlerClickDeleteComment', id)
    }
  }
}
</script>

<style scoped lang="scss">
.forum-list-comments {

  max-height: 600px;

  padding: 20px 5px 0 5px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;

  background-color: #e8e7e7;

  border-radius: 5px;

  overflow-x: auto;

  &__title {
    margin: auto;
    margin-top: -20px;
  }

  &__child {

    width: 95%;

    margin-left: auto;
    margin-right: 0;

    @media (max-width: 991px) {
      width: 95%;
    }
  }
}
</style>
