<template>
<router-link class="router-link" :to="`/forum/post/${data.id}`">
  <div :class="['forum-list-card', cardModificators]">
    <AppCard>
      <div class="forum-list-card__content content container">
        <div class="row">
          <div class="col-md-2 d-md-flex d-none content__image">
            <img :src="data.user.image" class="img-fluid" alt="avatar">
          </div>
          <div class="col-md-3 col-5 content__theme">
            <span>{{ data.title }}</span>
          </div>
          <div class="col-3 content__category">
            <i :class="`fas fa-square icon icon--${data.category.name.split(' ')[0].toLowerCase()}`">
            </i><span>{{ data.category.name }}</span>
          </div>
          <div class="col-2 content__views">
            <span>{{ data.view_count }}</span>
          </div>
          <div class="col-2 content__likes">
            <span>{{ data.like_count }}</span>
          </div>
        </div>
      </div>
    </AppCard>
  </div>
</router-link>
</template>

<script>
import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumListCard',

  components: {
    AppCard
  },

  props: {
    data: {
      types: Object,
      default: {}
    },
    isHover: {
      types: Boolean,
      default: true
    }
  },

  computed: {
    cardModificators() {
      return {
        'forum-list-card--isHover' : this.isHover
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.router-link {
    text-decoration: none;
    color: $bg-color-dark;

    .forum-list-card {

        transition: 0.2s;

        &--isHover {
          &:hover {
              cursor: pointer;
              transform: scale(1.05);
          }
        }

        &__content {
            }

        .content {

            &__category,
            &__image,
            &__likes,
            &__theme,
            &__views {

                display: flex;
                justify-content: center;
                align-items: center;

                .icon {

                    font-size: 0.5rem;
                    margin-right: 0.5rem;

                    &--news {
                        color: $color-primary;
                    }

                    &--about {
                        color: $color-success;
                    }

                    &--get {
                        color: $color-warning;
                    }

                    &--show {
                        color: $color-danger;
                    }

                }

            }

            &__likes {
                justify-content: flex-end;
            }

            &__image {
                justify-content: flex-start;

                img {

                    max-height: 4rem;
                    max-width: 4rem;

                    margin-right: 0.5rem;

                    object-fit: cover;

                    border-radius: 50%;

                    @media (max-width: 575px) {

                        display: none;
                    }
                }
            }

            &__theme {
                justify-content: flex-start;
            }

            &__category {
                justify-content: flex-start;
            }

        }

        @media (max-width: 767px) {
            @include line(1);
            font-size: 0.8rem;
        }

        @media (max-width: 767px) {
            @include line(1);
            font-size: 0.8rem;
        }
    }
}
</style>
