<template>
<app-card>
  <div class="forum-card-info">

    <div class="forum-card-info__header header">
      <img class="header__logo"
        :src="data.user.image ? data.user.image : '../../assets/user2.png'"
        height="35"
        width="35"
        alt="avatar">
      <h6 class="header__title">{{ data.user.name }}</h6>
    </div>

    <div class="forum-card-info__main main">

      <hr>

      <div class="main__info info">
        <div class="info__item" v-if="item.value" v-for="item in forumPostInfo">
          <div class="info__icon"><i :class="`fas fa-${item.key}`"></i></div>
          <div class="info__text">{{ item.value }}</div>
        </div>
      </div>

      <div class="forum-card-info__btn"
        v-if="is_authenticated"
        @click="handlerClickLikeForumPost(data.id)">
          <i class="far fa-thumbs-up"></i> Like
      </div>

    </div>

  </div>
</app-card>
</template>

<script>
import { mapActions } from 'vuex'
import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumCardInfo',

  components: {
    AppCard
  },

  props: {
    data: {
      type: Object,
      default: {}
    },
    is_authenticated: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    forumPostInfo: []
  }),

  created() {
    this.forumPostInfo = [{
      key: 'clock',
      value: this.data.updated_at
    }, {
      key: 'square',
      value: this.data.category.name
    }, {
      key: 'eye',
      value: this.data.view_count
    }, {
      key: 'thumbs-up',
      value: this.data.like_count
    }]
  },

  methods: {
    ...mapActions([
      'likeForumPost'
    ]),

    handlerClickLikeForumPost(id) {
      this.likeForumPost(id)
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.forum-card-info {
    padding: 20px;

    .header {

        margin-bottom: 0.5rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__logo {
            margin-right: 1rem;

            @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
                height: auto;
            }
        }

        &__title {
            margin: .5rem 0;
        }
    }

    &__btn {

        display: block;

        width: 100%;

        margin-top: 20px;
        padding: 10px;

        text-decoration: none;
        text-align: center;

        color: $bg-color-light;
        background: $color-purple-bg;

        border-radius: 3px;
        box-shadow: 0 17px 25px rgba(37, 59, 110, 0.22);

        transition: 0.2s;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .info {

        margin-top: 10px;

        &__item {

            padding: 5px 0;

            display: flex;
            flex-wrap: wrap;

            font-size: 1rem;

            color: #878787;

            @media (min-width: 768px) and (max-width: 1199px) {
                font-size: 0.75rem;
            }
        }

        &__icon {
            flex: 1;

            @media (min-width: 768px) and (max-width: 991px) {
                flex: none;
                width: 100%;
            }
        }

        &__text {
            flex: 2;
            color: #333333;
        }
    }
}
</style>
