<template>
  <div class="forum-filter">
    <AppCard>

      <div class="forum-filter__wrapper-header">
        <h4 class="forum-filter__header">Filters</h4>

      </div>

      <div class="container">
        <div class="row">

          <div class="col-12 forum-filter__wrapper-search">

            <small class="text-muted">{{ forumTotalCountPosts }} Topics found</small>
            <el-input
              class="forum-filter__search"
              placeholder="Keyword"
              clearable
              v-model="search">
              <i slot="suffix" class="el-input__icon el-icon-search"></i>
            </el-input>

          </div>

          <div class="col-12 forum-filter__wrapper-selector">

            <el-select class="forum-filter__selector"
              multiple
              placeholder="All"
              collapse-tags
              v-model="category">
                <el-option
                  v-for="item in categories"
                  :key="item.id"
                  :label="item.value"
                  :value="item.id">
                </el-option>
            </el-select>

          </div>

          <div class="col-12 forum-filter__wrapper-filter">

            <el-select class="forum-filter__filter"
              placeholder="Top rated"
              v-model="filter">
                <el-option
                  v-for="item in filters"
                  :key="item.key_word"
                  :label="item.value"
                  :value="item.key_word">
                </el-option>
            </el-select>

          </div>

          <div class="col-12 forum-filter__wrapper-btn">

            <app-button
              @appButtonClick="handleClickSearch"
              class="forum-filter__btn"
              icon="el-icon-search"
              style="height: 100%">
              Search
            </app-button>

          </div>

        </div>
      </div>
    </AppCard>
  </div>
</template>

<script>

import { mapActions, mapGetters, mapMutations } from 'vuex'
import * as types from '@/store/mutation-types';

import AppButton from '@/components/global/AppButton'
import AppCard from '@/components/global/AppCard'

export default {
  name: 'ForumFilter',

  data: () => ({
    categories: [
      { "value": "News", "id": "1" },
      { "value": "About ICO", "id": "2" },
      { "value": "Get Help", "id": "3" },
      { "value": "Show & Tell", "id": "4" },
    ],
    category: '',
    search: '',

    filters: [
      { "value": "Top rated", "key_word": "rating" },
      { "value": "Newest", "key_word": "start" },
      { "value": "Oldest", "key_word": "end" }
    ],
    filter: ''
  }),

  computed: {
    ...mapGetters([
      'forumTotalCountPosts',
      'forumFilterOptions'
    ])
  },

  methods: {
    ...mapActions([
      'getForumThemesList'
    ]),

    ...mapMutations({
      'forumSaveFilterOptions': types.SAVE_FORUM_FILTER_OPTIONS
    }),

    handleClickSearch() {
      let forumNewFilterOptions = {
        sortText: this.filter,
        text_search: this.search,
        categories: this.category
      }

      if (!_.isEqual(forumNewFilterOptions, this.forumFilterOptions)) {
        this.forumSaveFilterOptions(forumNewFilterOptions)
        this.getForumThemesList()
      }
    }
  },

    components: {
      AppButton,
      AppCard
    }
}
</script>

<style scoped lang="scss">

@import '../../partials/global';

.forum-filter {

  // margin-top: 1rem;
  margin-bottom: 1rem;

  &__wrapper-header {


    margin: -15px -15px 10px -15px;
    padding: 10px;

    background-color: $color-purple-bg;
  }

  &__header {

    margin-bottom: 0;

    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;


    color: $bg-color-light;
  }

  &__wrapper-search, &__wrapper-selector, &__wrapper-filter, &__wrapper-btn {
    margin-bottom: .5rem;
  }

  &__wrapper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__selector, &__filter, &__btn {
    display: flex;
    flex-grow: 1;
  }

}
</style>
