<template v-if="forumThemesList">
  <div class="forum-theme-list">

    <ForumListCard v-for="item in forumThemesList"
      :data="item"
    />

    <div class="container" v-if="parseInt(forumTotalCountPosts) > pageSize">
      <div class="row">
        <div class="col-12">

          <div class="forum-theme-list__pagination">
            <el-pagination
              id="el-pagination-watch"
              @current-change="handleChangeCurrentPage"
              :current-page.sync="currentPage"
              :pager-count="pagerCount"
              layout="prev, pager, next"
              :page-size="pageSize"
              :total="forumTotalCountPosts"
              background>
            </el-pagination>
          </div>

        </div>
      </div>
    </div>

    <secondary-float-button-add route="/create/post/forum"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ForumListCard from '@/components/forum/ForumListCard'
import SecondaryFloatButtonAdd from '@/components/secondary/SecondaryFloatButtonAdd'

export default {
  name: 'ForumListTheme',

  components: {
    ForumListCard,
    SecondaryFloatButtonAdd
  },

  data: () => ({
    pageSize: 20,
  	currentPage: 1,
    pagerCount: 5,
  }),

  computed: {
    ...mapGetters([
      'forumThemesList',
      'forumTotalCountPosts'
    ])
  },

  created() {
    if (this.$route.params.page >= 2)
      this.getForumThemesList(this.$route.params.page)
    else
      this.getForumThemesList()
  },

  methods: {
    ...mapActions([
      'getForumThemesList'
    ]),

    handleChangeCurrentPage(page) {

      // Add page number to url
      this.$router.push({
      	name: "forum-themes",
      	params: { page: page },
      })

      this.getForumThemesList(page)
    },
  }
}
</script>

<style scoped lang="scss">
  .forum-theme-list {
    &__pagination {

      width: 100%;

      margin: 60px 0;

      display: flex;
      justify-content: center;
      align-items: center;
		}
  }
</style>
