<template>
<router-link :to="route">
  <div class="secondary-float-button-add" v-if="route">
    <div class="secondary-float-button-add__btn">
      <i class="el-icon-plus"></i>
    </div>
  </div>
</router-link>
</template>

<script>
export default {
  name: 'SecondaryFloatButtonAdd',

  props: {
    route: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.secondary-float-button-add {

    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 1;

    &__btn {

        height: 3rem;
        width: 3rem;

        margin-right: 1.5rem;
        margin-bottom: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 1;

        background-color: $color-purple-bg;

        border-radius: 50%;

        transition: .3s;

        &:hover {
            cursor: pointer;
            transform: rotate(90deg);

        }

        i {
            font-size: 1.5rem;
            color: $bg-color-light;
        }
    }
}
</style>
