<template>
  <div class="secondary-premium-demo">
    <el-card shadow="hover" v-for="card in cards"
      :style="`background: url(${card.img});
        background-size: cover;`">
      {{ card.text }}
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'SecondaryPremiumDemo',
  data: () => ({
    cards: [
      {
        img: 'https://cdn.dribbble.com/users/257709/screenshots/4045039/city_ninja_800x600.png',
        text: 'We Are Offering Better Rate'
      },
      // {
      //   img: 'https://cdn.dribbble.com/users/257709/screenshots/4024628/dash_ninja_800x600.png',
      //   text: 'Better Rate'
      // }, {
      //   img: 'https://cdn.dribbble.com/users/501822/screenshots/4506374/dribbble_2.gif',
      //   text: 'More Roots'
      // }, {
      //   img: 'https://cdn.dribbble.com/users/1165321/screenshots/3817090/attachments/862768/14_shot_2x.png',
      //   text: 'New Visibility'
      // },
    ]
  })
}
</script>

<style lang="scss">
@import '../../partials/global';

  .secondary-premium-demo {

    width: 100%;

    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .el-card {

      // width: 45%;

      // margin: 2.5%;

      margin: auto;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.5rem;
      font-weight: bold;

      color: $bg-color-light;

      transition: .3s;

      &:hover {

        color: $color-purple-bg;
        background: $bg-color-light !important;

        // cursor: pointer;
        transform: scale(1.05);
        transition: .3s;
      }
    }
  }
</style>

<style scoped lang="scss">
.secondary-premium-demo {

}
</style>
