<template>
  <div class="secondary-card-links">
    <app-card>
      <div class="secondary-card-links__social social">
        <a
          v-for="item in social"
          v-if="item.link"
          class="social__item item"
          :href="item.link"
          target="_blank">
            <span class="item__link link">
              <i :class="`link__icon fab ${item.icon}`"></i>
              <span class="link__name">{{ getSocialName(item.icon).capitalize() }}</span>
            </span>
        </a>
      </div>
    </app-card>
  </div>
</template>

<script>

import AppCard from "../global/AppCard"

export default {
  name: 'SecondaryCardLinks',

  components: {
      AppCard
  },

  data: () => ({
    social: [
      {
        link: 'test',
        icon: 'fa-twitter'
      },
      {
        link: 'test',
        icon: 'fa-facebook'
      },
      {
        link: 'test',
        icon: 'fa-linkedin-in'
      },
      {
        link: 'test',
        icon: 'fa-github'
      },
      {
        link: 'test',
        icon: 'fa-telegram'
      },
      {
        link: 'test',
        icon: 'fa-whatsapp'
      },
      {
        link: 'test',
        icon: 'fa-vk'
      },
      {
        link: 'test',
        icon: 'fa-google'
      },
      {
        link: 'test',
        icon: 'fa-medium-m'
      },
      {
        link: 'test',
        icon: 'fa-reddit'
      },
      {
        link: 'test',
        icon: 'fa-youtube'
      },
      {
        link: 'test',
        icon: 'fa-skype'
      }
    ]
  }),

  methods: {
    getSocialName(name) {
      // console.log(name);
      return name.split('-')[1].split('-')[0]
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

  .secondary-card-links {

    .social {

      padding: 20px;

      display: flex;
      flex-direction: column;

      .item {

        width: 100%;
        margin: .25rem 0;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        font-size: 1.15rem;

        &__link .link {

          &__icon {

            height: 25px;
            width: 25px;

            font-size: 1.25rem;

            @media (min-width: 767px) and (max-width: 996px) {

              width: 100%;
              text-align: center;
              font-size: 1.5rem;
            }
          }

          &__name {
            margin-left: .5rem;

            @media (min-width: 767px) and (max-width: 996px) {
              display: none;
              width: 0;
            }
          }
        }
      }
    }
  }
</style>
