<template>
  <div class="secondary-card-info">
    <div class="row">
      <div class="col-12">
        <secondary-card-rate
          :rating="rating"
        />
      </div>
      <div class="col-12">
        <slot/>
      </div>
      <div class="col-12">
        <secondary-card-links />
      </div>
    </div>
  </div>
</template>

<script>
import SecondaryCardLinks from "../secondary/SecondaryCardLinks"
import SecondaryCardRate from "../secondary/SecondaryCardRate"

export default {
  name: 'SecondaryCardInfo',

  components: {
    SecondaryCardLinks,
    SecondaryCardRate
  },

  props: {
    rating: {
      type: [String, Number],
      // required: true,
      default: 3.5
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.secondary-card-info {

}
</style>
