<template>
  <div class="secondary-create-post">
    <div class="container">
      <div class="row content">
        <div class="col-lg-9 col-12">
          <h5 class="title text-center">Create post</h5>

            <label for="BlogCreatePost-title">Title</label>
            <el-input
              v-model="title"
              class="input"
              id="BlogCreatePost-title"
              placeholder="Enter title"
            />

            <template v-if="type == 'blog'">

              <label for="BlogCreatePost-short-description">Short description</label>
              <el-input
                v-model="short_description"
                class="input"
                id="BlogCreatePost-short-description"
                placeholder="Enter short description"
              />

            </template>

            <template class="choose-theme" v-if="type == 'forum'">

              <label >Choose theme</label>

              <el-radio-group v-model="currentTheme">
                <el-radio v-for="(theme, index) in themes" :label="index + 1">{{ theme }}</el-radio>
              </el-radio-group>

            </template>

            <template v-if="type == 'blog'">
              <el-upload
                        class="upload"
                        drag
                        action=""
                        :http-request="onImageChange"
                        :file-list="fileList"
                >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
              </el-upload>
            </template>

          <div id="summernote"></div>

          <div class="form-btn">
            <el-button
              type="primary"
              @click="createPostCheck()"
              :loading="loading"
            >Create
            </el-button>
            <el-button @click="cancelCreate()">Cancel</el-button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'SecondaryCreatePost',

  props: {
    type: {
      type: String,
      default: 'blog'
    }
  },

  data: () => ({
    title: '',
    image: null,
    content: '',
    short_description: '',
    fileList: [],

    currentTheme: 1,
    themes: [
      'News',
      'About ICO',
      'Get Help',
      'Show & Tell',
    ],

    options: {
      toolbar: [
        // [groupName, [list of button]]
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['fontsize', ['fontsize']],
        ['fontname', ['fontname']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph', 'style']],
        ['height', ['height']],
        ['insert', ['picture', 'link', 'video', 'table', 'hr']],
        ['misc', ['fullscreen', 'undo', 'redo', 'codeview']]
      ],
      placeholder: '',
      tabsize: 2,
      height: 400,
      dialogsInBody: true
    }
  }),

  watch: {
    is_authenticated(val) {
      console.log(val);
    }
  },

  computed: {
    ...mapGetters([
      'loading',
      'notify_position',
      'is_authenticated'
    ])
  },

  created() {
    console.log(this.is_authenticated);
  },

  methods: {
    ...mapActions([
      'createPost',
      'createForumPost'
    ]),

    createPostCheck () {
      // Run loading button
      this.$store.commit('SAVE_LOADING_STATE', true)

      this.content = $('#summernote').summernote('code');
      var formData = new FormData();

      formData.append('image', this.image);
      formData.append('title', this.title);
      formData.append('content', this.content);
      formData.append('short_description', this.short_description);

      if (this.type == 'blog')
        this.createPost(formData)
      else if (this.type == 'forum')
        this.createForumPost({
          category_id: this.currentTheme,
          title: this.title,
          content: this.content + ''
        })
    },

    cancelCreate () {
      this.title ='',
      this.image = null,
      this.content = '',
      this.short_description = '',
      this.fileList = []

      this.$router.push('/')
    },

    onImageChange (data) {
      this.image = data.file;
    }
  },

  mounted () {
    this.$nextTick(() => {
      $('#summernote').summernote(this.options)
    })
  }
}
</script>

<style lang="scss">
  .note-toolbar.card-header {
    background-color: #f7f7f7;
  }

  .secondary-create-post {

    .content {

      .el-radio-group {

        width: 100%;

        margin-bottom: .5rem;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;

        .el-radio {
          margin: .5rem 0;
        }
      }

      .el-upload {
        width: 100%;
        max-width: 360px;

        display: flex;

      }
    }
  }
</style>

<style scoped lang="scss">
@import '../../partials/global';

.secondary-create-post {

  .content {

    display: flex;
    justify-content: center;

    .title {
      font-size: 1.75rem;
      margin: 1.5rem 0;
    }

    .choose-theme {

      margin-bottom: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .upload {
      margin-bottom: 1rem;
    }

    .form-btn {
      margin: 1.5rem 0;
    }

    .input {
      margin-bottom: 1rem;
    }
  }
}
</style>
