<template>
<div class="secondary-hero" :style="backgroundHero">
  <div class="block-shadow"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 content">
        <h4 class="title">{{ title }}</h4>
        <p class="text align-self-center">{{ text }}</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'SecondaryHero',

  props: {
    img: {
      type: String,
      default: 'https://blog.icobazaar.com/assets/img/logo.png'
    },
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: false
    }
  },

  computed: {
    backgroundHero() {
      if (this.img) {
        return {
          backgroundImage: "url(" + this.img + ")"
        }
      } else {
        return {
          background: "#828bff"
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.secondary-hero {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position:: relative;

    .block-shadow {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, .65);
    }

    .content {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: $bg-color;
        @media screen and (max-width: 992px) {
            align-items: center;
            text-align: center;
        }

        .title {
            font-size: 2.5rem;
            margin: 1rem 0;
        }

        .text {
            font-size: 1.3rem;
        }
    }
}
</style>
