<template>
  <div class="secondary-card-top" @click="$emit('click')">
    <el-card shadow="always">

      <div class="image">
        <img class="img-fluid" :src="data.image">
      </div>

      <div class="body">
        <span class="card__title">{{ data.title }}</span>

        <div class="card-mark">
          <el-rate
            v-if="data.rating"
            :value="data.rating"
            disabled
            show-score
            text-color="#ff9900"
            :colors="['#99A9BF', '#F7BA2A', '#FF9900']"
            score-template="{value}"
            >
          </el-rate>
        </div>

        <span class="subtitle" v-if="data.start">{{ data.start }} - {{ data.end }}</span>
        <span class="subtitle" v-else>
          {{ data.created_at.date.split(' ')[0] }}
        </span>

        <hr>

        <div class="text">{{ data.short_description }}</div>
      </div>
    </el-card>

  </div>
</template>

<script>
import { MixinsCardProps } from '../../mixins/MixinsCardProps'

export default {
  name: 'SecondaryCardTop',

  // mixins: [MixinsCardProps],
  props: {
    data: {
      type: Object,
      default: null
    }
  },

}
</script>

<style lang="scss">
@import '../../partials/_mixins';

.secondary-card-top {

  margin-bottom: 2rem;

  transition: .3s;

  &:hover {

    cursor: pointer;
    transform: scale(1.05);

  }

  .el-card {

      &__body {

          height: 265px;
          padding: 0;

          border-radius: 25px;

          .image {

            height: 150px;
            width: 100%;

            padding: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;

            .img-fluid {

              max-height: 100%;
              width: auto;

              border-radius: 5px;

            }
          }

          hr {
              margin: 0.5rem auto;
          }
          .body {

              padding: 0 15px 15px 15px !important;

              text-align: center;

              .card__title, .subtitle, .text {
                @include line(1)
              }

              .card__title {
                font-size: 1.25rem;
              }

              .subtitle {
                  font-size: 0.8rem;
                  font-style: italic;

                  color: rgba(0, 0, 0, .5);
              }
              .text {
                  -webkit-line-clamp: 2;

                  font-size: 0.9rem;

                  color: rgba(0, 0, 0, .5);
              }
          }
          .el-rate {
              height: auto;
              margin: 0.25rem 0;
          }
          .el-rate__icon {
              font-size: 10px;
              margin: 1px;
          }
          .el-rate__text {
              font-size: 12px;
              margin-left: 4px;
          }
      }
  }
}
</style>
