<template>
  <div class="secondary-card-rate">
    <app-card>
      <div class="secondary-card-rate__title">{{ rating }}</div>
      <el-rate
        v-model="rating"
        :colors="['#99A9BF', '#F7BA2A', '#FF9900']"
        disabled
      >
      </el-rate>
    </app-card>
  </div>
</template>

<script>

import AppCard from "../global/AppCard"

export default {
  name: 'SecondaryCardLinks',

  components: {
      AppCard
  },

  props: {
    rating: {
      type: [String, Number],
      // required: true,
      default: 3.51
    }
  }

}
</script>

<style lang="scss">
@import '../../partials/global';

.secondary-card-rate {

  .el-rate {

    width: 100%;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>

<style scoped lang="scss">
@import '../../partials/global';

  .secondary-card-rate {

    &__title {

      width: 50%;

      margin: 0 auto;

      text-align: center;
      font-size: 4rem;

      color: $color-purple-bg;

      border-bottom: 1px solid lighten($color-purple-bg, 15%);

      @media (min-width: 767px) and (max-width: 996px) {
        font-size: 2.5rem;
      }

      @media (max-width: 767px) {
        width: 33.33%;
      }
    }
  }
</style>
