<template>
  <div class="publish-ico-second-step">

		<div class="form-item">
			<label class="input-label">
				Описание

				<el-input
					placeholder="The best"
					label="Название ICO"
					type="textarea"
					:rows="5"
				>
				</el-input>
			</label>
		</div>

  </div>
</template>

<script>

export default {
  name: 'publish-ico-second-step',

  data: () => ({

  }),
}
</script>

<style scoped lang="scss">
	@import '../../partials/global';

	// Переопределение дефолтных стилей
	.el-date-editor--daterange.el-input,
	.el-date-editor--daterange.el-input__inner,
	.el-date-editor--timerange.el-input,
	.el-date-editor--timerange.el-input__inner {
		width: 100%;
	}

	.publish-ico-second-step {

		.form-item {
			width: 100%;
			margin-top: 30px;
			.input-label {
				display: flex;
				flex-direction: column;
				font-size: 0.9em;
				color: rgba(0,0,0, 0.7);
			}
		}

		.submit-btn {
			margin-top: 30px;
		}
	}

</style>
