<template>
  <div class="publish-ico-first-step">

		<!-- action="" @submit.prevent="handlerSubmit" -->
		<form >
			<AppFormGroup
				v-for="group of form"
				:data="group"
				:key="group.id"
			/>

			<el-checkbox v-model="consent">
				I am the official representative of this ICO and I give full permission to use all the needed data from all of our resources
			</el-checkbox>


			<div class="danger" v-show="!isValid">
				<span
					class="danger__item"
					v-for="item of errorsMassage"
				>
					{{ item }}
				</span>
				<!-- <span class="danger__item" v-show="!isValid">Invalid entered data</span> -->
			</div>
			<!-- <p class="publish-ico-first-step__is-danger">Please accept the agreement</p>

			<p class="publish-ico-first-step__is-danger">Invalid entered data</p> -->

			<div class="submit-btn">
				<el-button type="primary" @click="handlerGoToNextStep">Continue</el-button>
			</div>
		</form>

  </div>
</template>

<script>
import { mapGetters } from "vuex";

import AppForm from "@/components/global/form/AppForm"
import AppFormGroup from "@/components/global/form/AppFormGroup"
import AppFormItem from "@/components/global/form/AppFormItem"

export default {
  name: 'publish-ico-first-step',

  components: {
  	AppForm,
  	AppFormGroup,
  	AppFormItem,
  },

  props: {
  	categories: Array,
  },

  data: () => ({
  	consent: false,

  	isValid: true,
		errorsMassage: [

		],

  	form: {
  		projectInfo: {
  			id: 0,
  			title: "Project info",
  			items: {
	  			name: {
	  				name: "name",
	  				title: "Name",
	  				value: "",
	  				responsive: "col-12 col-sm-6",
	  				validate: "required",
	  				validator: null,
	  			},

	  			summary: {
	  				name: "summary",
	  				title: "Summary",
	  				placeholder: "Short description and main value",
	  				value: "",
	  				responsive: "col-12 col-sm-6",
	  				validate: "required",
	  				validator: null,
	  			},

	  			category: {
	  				name: "categories",
	  				title: "Category",
	  				el: "select",
	  				value: "",
	  				items: [

	  				],
	  				responsive: "col-12 col-sm-12",
	  				validate: "required",
	  			},

	  			logo: {
	  				name: "logo",
	  				title: "Logo",
	  				el: "upload",
	  				responsive: "col-12 col-sm-6 col-md-4",
	  				validator: null,
	  			},

	  			banner: {
	  				name: "banner",
	  				title: "Banner",
	  				el: "upload",
	  				responsive: "col-12 col-sm-6 col-md-4",
	  				validator: null,
	  			},

	  			roadMapScreen: {
	  				name: "roadMapScreen",
	  				title: "Road map screen",
	  				el: "upload",
	  				responsive: "col-12 col-sm-6 col-md-4",
	  				validator: null,
	  			},

	  			detailedInfo: {
	  				name: "detailedInfo",
	  				title: "Detailed info",
	  				responsive: "col-12",
	  				value: "",
	  				type: "textarea",
	  				validator: null,
	  			},
	  		}
  		},

  		social: {
  			id: 1,
				title: "Social profiles",
				responsive: "col-12 col-sm-6 col-md-4",
				validate: "url",
  			items: [
	  			{
	  				name: "facebooProfile",
	  				title: "Facebook",
	  				icon: "facebook-f",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "linkedInProfile",
	  				title: "LinkedIn",
	  				icon: "linkedin-in",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "twitter",
	  				title: "Twitter",
	  				icon: "twitter",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "telegram",
	  				title: "Telegram",
	  				icon: "telegram",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "github",
	  				title: "Github",
	  				icon: "github",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "bitcointalk",
	  				title: "Bitcointalk",
	  				icon: "bitcoin",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "reddit",
	  				title: "Reddit",
	  				icon: "reddit-alien",
	  				value: "",
	  				validator: null,
	  			},
	  			{
	  				name: "slack",
	  				title: "Slack",
	  				icon: "slack-hash",
	  				value: "",
	  				validator: null,
	  			},
	  		],
  		},

  		bountyAndAirdrop: {
  			id: 2,
  			title: "Bounty / Airdrop",
  			responsive: "col-12 col-sm-6 col-md-4",
  			validate: "url",
  			items: {
  				bounty: {
	  				name: "bountyUrl",
	  				title: "Bounty url",
	  				placeholder: "http://example.com",
	  				value: "",
	  				validator: null,
	  			},

	  			airdrop: {
	  				name: "airdropUrl",
	  				title: "Airdrop url",
	  				placeholder: "http://example.com",
	  				value: "",
	  				validator: null,
	  			},

	  			Supply: {
	  				name: "supply",
	  				title: "Supply",
	  				el: "input",
	  				value: "",
	  				validator: null,
	  			},
  			},
  		},

  		links: {
  			id: 3,
  			title: "Links",
  			responsive: "col-12 col-sm-6 col-md-4",
  			// validate: "url",
  			items: {
  				whitePaper: {
  					name: "whitePaperUrl",
  					title: "White paper url",
	  				placeholder: "http://example.com",
	  				value: "",
	  				validate: "required|url",
	  				validator: null,
	  			},
	  			website: {
	  				name: "websiteUrl",
	  				title: "Website ur",
	  				placeholder: "http://example.com",
	  				value: "",
	  				validate: "required|url",
	  				validator: null,
	  			},
	  			video: {
	  				name: "videoUrl",
	  				title: "Video url",
	  				placeholder: "http://example.com",
	  				value: "",
	  				validate: "required|url",
	  				validator: null,
	  			},
  			}
  		},

  		presaleDetails: {
  			id: 4,
				title: "Presale details",
				responsive: "col-12 col-sm-6 col-md-4",
				items: {
					period: {
						name: "period",
						title: "Period",
						el: "daterange",
						responsive: "col-12 col-sm-6 col-md-8",
	  				value: "",
	  				validator: null,
					},

					tokenPrise: {
						name: "tokenPrise",
						title: "Token prise",
	  				el: "input",
	  				value: "",
	  				prepend: "$",
	  				validator: null,
	  			},

	  			minimumInvestment: {
	  				name: "minimumInvestment",
	  				title: "Minimum investment",
	  				el: "input",
	  				value: "",
	  				prepend: "$",
	  				responsive: "col-12 col-sm-6",
	  				validator: null,
	  			},

	  			maximumInvestment: {
	  				name: "maximumInvestment",
	  				title: "Maximum investment",
	  				el: "input",
	  				value: "",
	  				prepend: "$",
	  				responsive: "col-12 col-sm-6 ",
	  				validator: null,
	  			},
				},
			},

  		saleDetails: {
  			id: 5,
  			title: "Sale details",
  			responsive: "col-12 col-sm-6 col-md-4",
  			items: {
  				periud: {
  					name: "periud",
  					title: "Periud",
  					el: "daterange",
  					responsive: "col-12 col-sm-6 col-md-8",
	  				value: "",
	  				validator: null,
  				},

  				tokenName: {
  					name: "tokenName",
	  				title: "Token name",
	  				value: "",
	  				validator: null,
	  			},

	  			minimumInvestment: {
	  				name: "minimumInvestment",
	  				title: "Minimum investment",
	  				value: "",
	  				prepend: "$",
	  				validator: null,
	  			},

	  			softCap: {
	  				name: "softCap",
	  				title: "Soft cap",
	  				value: "",
	  				prepend: "ETH",
	  				validator: null,
	  			},

	  			hardCap: {
	  				name: "hardCap",
	  				title: "Hard cap",
	  				value: "",
	  				prepend: "ETH",
	  				validator: null,
	  			},

	  			smartContractAddres: {
	  				name: "smartContractAddres",
	  				title: "Smart contract addres",
	  				value: "",
	  				prepend: "http://",
	  				responsive: "col-12 col-sm-6",
	  				validator: null,
	  			},

	  			Supply: {
	  				name: "supply",
	  				title: "Supply",
	  				value: "",
	  				responsive: "col-12 col-sm-6",
	  				validator: null,
	  			},
  			},
  		},

  		contactInfo: {
  			id: 6,
  			title: "Contact Info",
  			responsive: "col-12 col-sm-6",
  			items: {
  				fullName: {
  					name: "full name",
	  				title: "Your full name",
	  				value: "",
	  				validate: "required",
	  				validator: null,
	  			},
	  			email: {
	  				name: "email",
	  				title: "E-mail",
	  				value: "",
	  				validate: "required|email",
	  				validator: null,
	  			},
  			}
  		},

  	},



  // 	categoriesList: [
  // 		"Categories",
  // 		"Finance & Banking",
  // 		"Big Data & Data Storage",
  // 		"Business services",
  // 		"Casino & Gambling",
  // 		"Charity & Donations",
		// ],
		ICOInformatin: {
			ICOname: "",
			categories: "All",
			shortDescription: "",
			site: "",
			whitepaper: "",
			startDate: null,
			endDate: null,
			email: "",
		},
  }),

	computed: {
		...mapGetters([
  		"is_authenticated",
  		// "categories",
		]),
	},

	watch: {
		categories(next, prev) {

			// this.form.projectInfo.items.category.items
			this.form.projectInfo.items.category.items = [...next];
		}
	},

	// mounted() {
	// 	console.log(this.categories);

	// 	this.form.projectInfo.items.category.items = [...this.categories];
	// },

  methods: {
  	handlerGoToNextStep(event) {
  		this.validateAll().then(result => {
  			this.errorsMassage = [];

  			if (!result) {
  				this.isValid = false;
  				this.errorsMassage.push("Incorrect data");
  			}

  			if (!this.consent) {
  				this.isValid = false;
  				this.errorsMassage.push("Please accept the agreement");
  			}

  			const formValues = this.getFormValue()


  			if (result && this.consent) {

					if (this.is_authenticated)
						this.router.push({
							name: "payment",
						})
					else
						this.router.push({
							name: "login",
							query: { nextPage: '/payment' }
						})
  			}
  		})
  	},

  	validateAll() {
  		let isValid = true;

  		return new Promise((resolve, reject) => {
  			const groupsKey = Object.keys(this.form);

  			groupsKey.map((key, indexGroup) => {
	    		const category = this.form[key];

    			const itemsKey = Object.keys(category.items);

	    		itemsKey.map((itemKey, indexItem) => {
		      	const item = category.items[itemKey];

		      	item.validator.validateAll().then((result) => {

		      		if (!result)
		      			isValid = false;

		      		if (groupsKey.length -1 == indexGroup && itemsKey.length -1 == indexItem) {
		      			resolve(isValid)
		      		}
						})
		      })
	      })
  		})
  	},

  	getFormValue() {
  		let result = {};

  		Object.keys(this.form).map(categoryKey => {
				const category = this.form[categoryKey];

				Object.keys(category.items).map(itemKey => {
					const item = category.items[itemKey];

					if (result[categoryKey])
						result[categoryKey] = {
							...result[categoryKey],
							[item.name]: item.value,
						}
					else
						result[categoryKey] = {
							[item.name]: item.value,
						}
				})
  		})

  		return result;
  	}
  },
}
</script>

<style scoped lang="scss">
	.help {
		color: red;
		opacity: 0.7;
	}

	// Переопределение дефолтных стилей
	.el-date-editor.el-input,
	.el-date-editor.el-input__inner {
		width: 100% !important;
	}

	.publish-ico-first-step {

		.form-item {
			width: 100%;
			margin-top: 30px;

			.date-picker-container {
				width: 100%;
				display: flex;

				.item {
					flex: 1;
				}

				.delimiter {
					margin: 10px 10px;
				}
			}

			.input-label {
				display: flex;
				flex-direction: column;
				font-size: 0.9em;
				color: rgba(0,0,0, 0.7);
			}
		}

		.submit-btn {
			margin-top: 30px;
		}

		.danger {
			display: flex;
			flex-direction: column;
			padding: .5rem;
			background: #fff;
			margin-top: .5rem;

			&__item {
				font-size: 1rem;
				color: red;
			}
		}
	}

</style>
