// Colors
$bg-color: #fafafa;
$bg-color-light: #fff;
$bg-color-dark: #333333;
$borded-color: #e6e6e6;
$color-primary: #409EFF;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
$color-star: #f7ba2a;
$color-purple-bg: #828bff;
$color-blue-dark: #293F75;
$color-secondary: #a9a9a9;
$color-secondary-dark: #6e6e6e;

 // Media
$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);
