<template>
<div class="blog-card">
  <secondary-card-top
    @click="openPost(data.id)"
    :data="data"
    :isContentCenter="false"
  />
</div>
</template>

<script>
import { MixinsCardProps } from '../../mixins/MixinsCardProps'

import SecondaryCardTop from '../secondary/SecondaryCardTop'

export default {
  name: 'BlogCard',

  // mixins: [MixinsCardProps],
  props: {
    data: {
      type: Object,
      default: null
    }
  },

  methods: {
    openPost (id) {
      console.log(this.data);
      this.router.push({ path: `/post/${id}`})
    }
  },

  components: {
    SecondaryCardTop
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';
.blog-card {
}
</style>
