<template>
  <div class="blog-main">
    <secondary-hero
      :title="hero.title"
      :text="hero.text"
      :img="'https://blog.icobazaar.com/assets/img/logo.png'">
    </secondary-hero>

    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" v-for="(post, index) in posts">
          <blog-card
            :data="post"
          />
        </div>
      </div>

    </div>

    <secondary-float-button-add route="/create/post/blog"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import SecondaryHero from '@/components/secondary/SecondaryHero'
import BlogCard from './BlogCard'
import SecondaryFloatButtonAdd from '@/components/secondary/SecondaryFloatButtonAdd'

export default {
  name: 'BlogMain',

  data: () => ({
    hero: {
      img: 'https://blog.icobazaar.com/assets/img/logo.png',
      title: 'Crypto Blog of Market\'s insights',
      text: 'Find the latest news on ICO market, articles of our crypto-experts, analisys and reviews of trending ICO projects in Crypto Market Insight Blog by ICObazaar'
    },

    loadingPage: ''
  }),

  components: {
    SecondaryHero,
    BlogCard,
    SecondaryFloatButtonAdd
  },

  computed: {
    ...mapGetters([
      'posts',
      'ICOList', // Instead of posts
      'loading',
      'notify_position'
    ])
  },

  watch: {

    posts() {
      this.$store.commit('SAVE_LOADING_PAGE_STATE', false)
    },

    ICOList() {
      this.$store.commit('SAVE_LOADING_PAGE_STATE', false)

    },
  },

  methods: {
    ...mapActions([
      'loadPosts'
    ])
  },

  created () {
    // Run loading
    this.$store.commit('SAVE_LOADING_PAGE_STATE', true)

    this.loadPosts()
  },

  mounted() {
    this.$nextTick(() => {
      this.$store.commit('SAVE_LOADING_PAGE_STATE', false)
    })
  }
}
</script>

<style scoped lang="scss">
.blog-main {
  .row {
    padding-top: 2rem;
  }
}
</style>
