<template>
  <div class="blog-post" v-if="currentPost">
    <secondary-hero
      :title="currentPost.title"
      :img="currentPost.image"
      :text="currentPost.short_description"
    ></secondary-hero>

     <div class="container">
      <div class="row">
        <div class="col-12 content">
          <span v-html="currentPost.content"></span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="controls_inner col-12 d-flex">
          <div class="col-6 prev">
            <div v-if="checkPrevPath">
              <p>Previous</p>
              <router-link :to="`/post/${prevPathPost()}`">
                <span class="title">{{ prevPost.title }}</span>
              </router-link>
            </div>
          </div>
          <div class="col-6 text-right prev">
            <div v-if="checkNextPath">
              <p>Next</p>
              <router-link :to="`/post/${nextPathPost()}`">
                <span class="title">{{ nextPost.title }}</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else style="height: 150vh"></div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import SecondaryHero from '@/components/secondary/SecondaryHero'

export default {
  name: 'BlogPost',

  created () {
    // Run loading
    this.$store.commit('SAVE_LOADING_PAGE_STATE', true)

    this.loadSelectPost(this.$route.params.id)
  },

  watch: {
    $route () {
      this.loadSelectPost(this.$route.params.id)
    },

    currentPost(val) {
      console.log(val);
      this.$store.commit('SAVE_LOADING_PAGE_STATE', false)
    }
  },

  computed: {
    checkPrevPath () {
      return this.prevPost ? true : false
    },

    checkNextPath () {
      return this.nextPost ? true : false
    },

    ...mapGetters([
        'currentPost',
        'prevPost',
        'nextPost',
        'loading',
        'notify_position'
      ])
  },

  methods: {
    prevPathPost () {
      let id = this.$route.params.id
      return parseInt(id) - 1 + ''
    },

    nextPathPost () {
      let id = this.$route.params.id
      return parseInt(id) + 1 + ''
    },

    ...mapActions([
      'loadSelectPost'
    ])
  },

  components: {
    SecondaryHero
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.blog-post {
  .content {
    padding-top: 1rem !important;

    img {
      max-width: 100% !important;
    }

    a:hover {
    text-decoration: none !important;
    }
  }

  .controls_inner {
    padding: 0 0 1.5rem 0;

    p {
      color: #909399;
      line-height: 0;
      margin: 0.8rem 0;
      font-size: 0.8rem;
      padding: 0;
    }

    a {
      color: #303133;
      font-weight: 700;
      font-size: 1.1rem;
      text-decoration: none;
      line-height: 0;
    }

    a:hover {
      color: #828bff;
      -o-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    @media screen and (max-width: 992px) {
      p {
        font-size: 0.7rem;
      }

      a {
        font-size: 0.9rem;
      }
    }
  }
}
</style>
