<template>
<div class="ico-list-card">

  <div class="ico-list-card__container ico-list-card__container--left">
    <div class="ico-list-card__logo">
      <img :src="item.image" height="80" width="80" alt="ico-image">
    </div>

    <div class="ico-list-card__information information">
      <h6 class="information__name">{{ item.name }}</h6>

      <span class="information__updated-date">
					<i class="fa fa-check-circle"></i>
					updated {{ item.updated_at }}
				</span>

      <p class="information__short-description">{{ item.short_description }}</p>
    </div>
  </div>

  <div class="ico-list-card__container ico-list-card__container--right">
    <div class="ico-list-card__other-info other-info">
      <span class="other-info__status">
					<i :class="['fa', 'fa-circle', 'other-info__icon', `other-info__icon--${item.status}`]"></i>
					{{ item.status }}
				</span>
      <span class="other-info__periud">{{ item.start }}</span>
    </div>

    <div class="ico-list-card__rate rate">
      <el-rate v-model="item.rating" :colors="['#99A9BF', '#F7BA2A', '#FF9900']">
      </el-rate>
    </div>
  </div>


</div>
</template>

<script>
export default {
  name: 'ico-list-card',

  props: {
    item: {
      type: Object,
      default: {},
    }
  }
}
</script>

<style scoped lang="scss">
.ico-list-card {
    font-size: 1rem;
    display: flex;
    border-rasius: 3px;
    // flex-wrap: wrap;
    box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    color: rgba(0,0,0, 0.7);
    transition: all 2s easy;

    &:hover {
        transform: scale(1.04);
    }

    &__container {
        display: flex;

        &--left {
            flex: 1;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__logo {
        align-self: center;
    }
}

.information {
    margin: 0 30px;

    &__name {
        font-size: 1.1em;
        color: rgba(0,0,0, 0.8);
        margin-bottom: 0;
    }
    &__updated-date {
        display: block;
        font-size: 0.7em;
        color: rgba(0,0,0, 0.4);

        i.fa {
            color: #66BB6A;
            font-size: 0.6em;
        }
    }
    &__short-description {
        margin-top: 7px;
        margin-bottom: 0;
        font-size: 0.85em;
        color: rgba(0,0,0, 0.7);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.other-info {
    padding-top: 20px;
    flex-shrink: 0;
    font-size: 1rem;
    // margin-left: auto;

    &__status {
        display: flex;
        align-items: center;
        font-size: 0.85em;
    }

    &__icon {
        margin-right: 5px;
        font-size: 0.65em;

        &--ongoing {
            color: #66BB6A;
        }
        &--upcoming {
            color: #42A5F5;
        }
    }

    &__periud {
        display: block;
        font-size: 0.75em;
    }
}

.rate {
    align-self: center;
    flex-shrink: 0;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .ico-list-card {
        font-size: 0.9rem;
        padding: 10px;
        flex-direction: column;

        &__container {
            align-items: center;

            &--right {
                flex-wrap: wrap;
                // margin-top: 5px;
                justify-content: space-around;
                // padding-left: 15px;
                margin-top: 4px;
            }
        }

        &__logo img {
            width: 40px;
            height: 40px;
            background: #fff;
        }
    }

    .information {
        margin: 0 0 0 15px;

        &__updated-date {
            display: none;
        }
    }

    .other-info {
        padding-top: 0;

        // &__status {
        // 	display: none;
        // }
    }

    .information {

        &__updated-date {
            margin-top: 2px;
        }
    }

    .rate {
        margin-left: 10px;
    }
}

@media screen and (max-width: 576px) {
    .ico-list-card {
        padding: 10px;
    }
}
</style>
