<template>
  <h5 class="ico-list-filters-item-title">
    {{ text }}
  </h5>
</template>

<script>
export default {
  name: 'ico-list-filters-item-title',

  props: {
  	text: [String, Number],
  },
}
</script>

<style scoped lang="scss">
	.ico-list-filters-item-title {
		color: rgba(0,0,0, 0.7);
		font-size: 1.05rem;
	}
</style>
