<template>
  <div class="ico-list-filters-keywords">
  	<ICOListFiltersItemTitle :text="data.title" />

		<div class="ico-list-filters-keywords__input">
			<el-input
				v-model="data.value"
		    :placeholder="data.placeholder"
		    :prefix-icon="data.prefixIcon || ''"
		   >
		  </el-input>
		</div>		

  </div>
</template>

<script>
import ICOListFiltersItemTitle from "./ICOListFiltersItemTitle"

export default {
  name: 'ico-list-filters-categories',

  components: {
  	ICOListFiltersItemTitle,
  },

  props: {
  	data: {
  		type: Object,
  		default: () => {},
  	}
  },
}
</script>

<style scoped lang="scss">
	.ico-list-filters-keywords {
		padding-bottom: 15px;
	}
</style>
