<template>
  <div class="ico-list-filters">

  	<div class="ico-list-filters__header header">
  		<h5 class="header__title">Filters</h5>
  	</div>

  	<div class="ico-list-filters__content content">
  		<ICOListFiltersKeywords :data="groupKeywords" />

  		<ICOListFiltersCategories :data="groupCategory" />

			<el-button
				type="primary"
				icon="el-icon-search"
				@click="handlerSearch"
			>
				Search
			</el-button>
  	</div>

  </div>
</template>

<script>
import ICOListFiltersCategories from "./ICOListFiltersCategories";
import ICOListFiltersKeywords from "./ICOListFiltersKeywords";

export default {
  name: 'ico-list-filters',

  props: {
  	categories: Array,
  },

  components: {
  	ICOListFiltersCategories,
  	ICOListFiltersKeywords,
  },

  computed: {
  	lenghtCatigories() {
  		return Object.keys(this.categories).length;
  	},
  	selectedCategoryItems() {
  		const items = this.groupCategory.items;
  		let selectedItems = [];

  		if (items.length > 0)
  			items.map(item => {
  				if (item.selected)
  					selectedItems.push(item.id);
  			});

  		return selectedItems;
  	},
  },

  data: () => ({
  	// isShowAllCatigories: false,
  	// isSelectedAllCatigories: false,

  	// countShowCatigories: 10,

  	groupKeywords: {
			title: "Keywords",
			placeholder: "ICO name or keywords",
			prefixIcon: "el-icon-search",
			value: "",
		},

  	groupCategory: {
			title: "Category",
			countShowItems: 10,
			capabilities: {
				"Select all": true
			},
			items: [],
		},

  }),

  watch: {
  	categories(next, prev) {
  		this.initGroupCategoryItems();
  	},
  },

  mounted() {
  	this.initGroupCategoryItems();
  },

  methods: {
  	handlerChangeAllCategories(isSelect) {
  		const keys = Object.keys(this.categories);

  		this.isSelectedAllCatigories = isSelect;

  		keys.forEach(key => {
  			const category = this.categories[key];

  			category.selected = isSelect;
  		});
  	},
  	handlerSearch() {
  		this.$emit("search", {
			  "categories": this.selectedCategoryItems,
			  "text_search": this.groupKeywords.value,
			})
  	},
  	initGroupCategoryItems() {
  		const { groupCategory, categories } = this;

  		if (!this.categories)
  			return;

  		this.groupCategory.items = this.categories.map((item, index) => ({
  			...item,
  			selected: false,
  		}))

  		// this.groups.category.items = groupCategory;
  	},
  }
}
</script>

<style scoped lang="scss">
	.ico-list-filters {
		box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);
		margin: 30px 0 30px;
		border-radius: 4px;
		overflow: hidden;
	}

	.header {
		background: #828bff;
		padding: 15px;

		&__title {
      margin-bottom: 0;

      text-align: center;
      font-weight: bold;
			font-size: 1.5rem;

      color: #fff;
		}
	}

	.content {
		background: #fff;
		padding: 15px;

		// Переопределение стилей
		.el-button {
			width: 100%
		}
	}

	.group {
		padding-bottom: 15px;

		&__title {
			color: rgba(0,0,0, 0.7);
			font-size: 1.05rem;
		}

		&__modificator {
			display: block;
			margin: 5px 0;
			font-size: 0.9rem;
			color: #4fb7ff;
			transition: opacity 0.4s easy;

			&:hover {
				cursor: pointer;
				opacity: 0.5;
			}
		}
	}

	.select {
		&__count {
			margin-left: 8px;
			color: rgba(0,0,0, 0.3);
			font-weight: bold;
		}
	}
</style>
