<template>
  <div class="ico-list-filters-categories">
  	<ICOListFiltersItemTitle :text="data.title" />

		<!-- <span
			class="ico-list-filters-categories__capabilities"
			v-if="data.capabilities && data.capabilities['Select all']"
			@click="handlerChangeAllItems"
		>
			{{ isSelectedAllItems ? 'Unselect all' : 'Select all' }}
		</span> -->

		<div
			class="ico-list-filters-categories__select select"
			v-for="(item, index) of data.items"
			v-if="!data.countShowItems || index < data.countShowItems || isShowAllItems"
		>
			<el-checkbox v-model="item.selected">
				{{ item.name }}
				<span class="select__count" v-if="item.count">{{ item.count }}</span>
			</el-checkbox>
		</div>

		<span
			class="ico-list-filters-categories__capabilities"
			v-show="data.countShowItems && data.items.length > data.countShowItems"
			@click="isShowAllItems = !isShowAllItems"
		>
			{{ isShowAllItems ? 'Hide' : `Show ${data.items.length - data.countShowItems} more` }}
		</span>

  </div>
</template>

<script>
import ICOListFiltersItemTitle from "./ICOListFiltersItemTitle"

export default {
  name: 'ico-list-filters-categories',

  components: {
  	ICOListFiltersItemTitle,
  },

  props: {
  	data: {
  		type: Object,
  		default: () => {},
  	}
  },

  computed: {

  },

  data: () => ({
		isSelectedAllItems: false,
		isShowAllItems: false,
  }),

  methods: {
  	handlerChangeAllItems() {
  		this.isSelectedAllCatigories = !this.isSelectedAllCatigories;

  		this.group.items.forEach(item => {
  			item.selected = this.isSelectedAllCatigories;
  		});
  	},
  }
}
</script>

<style scoped lang="scss">
	.ico-list-filters-categories {
		padding-bottom: 15px;

		&__capabilities {
			display: block;
			margin: 5px 0;
			font-size: 0.9rem;
			color: #4fb7ff;
			transition: opacity 0.4s easy;

			&:hover {
				cursor: pointer;
				opacity: 0.5;
			}
		}
	}

	.select {
		&__count {
			margin-left: 8px;
			color: rgba(0,0,0, 0.3);
			font-weight: bold;
		}
	}
</style>
