<template>
  <router-link
    v-if="item"
    :to="`/ico/${item.id}`"
    class="router-link">

      <div :class="['ico-list-card', { isHover: isHover }]">

    		<div class="ico-list-card__logo">
      		<img :src="item.image" height="80" width="80" alt="ico-image">
      	</div>

    		<div class="ico-list-card__content content">
    			<h6 class="content__name">{{ icoName }}</h6>

    			<div class="content__information information">

    				<div :class="['information__main', { isFullWidth: isHeader }, { isOneLine: !isHeader }]">
    					<span class="information__updated-date">
    						<i class="fa fa-check-circle"></i>
    						updated {{ item.updated_at }}
    					</span>

    					<p
                class="information__short-description">
                {{ item.short_description }}
              </p>
    				</div>

    				<div class="information__other" v-if="!isHeader">
    					<!-- <span class="information__periud">{{ item.start }}</span> -->

    					<div class="information__rate">
    						<el-rate
                  disabled
    							v-model="item.rating"
    				    	:colors="['#99A9BF', '#F7BA2A', '#FF9900']"
    				    	disabled
    			    	>
    					  </el-rate>
    					</div>
    				</div>

    			</div>
    		</div>

    	</div>

  </router-link>
</template>

<script>

export default {
  name: 'ico-list-card',

  props: {
  	item: {
  		type: Object,
  		default: {},
  	},

    isHover: {
      type: Boolean,
      default: true
    },

    isHeader: {
      type: Boolean,
      default: false
    }
  },

  computed: {
  	icoName() {
  		const index = this.item.name.indexOf(")");

			if (index >= 0)
				return this.item.name.slice(0, index + 1);
			else
				return this.item.name;
  	},
  },
}
</script>

<style scoped lang="scss">
@import '../../partials/_global';

.router-link {
  text-decoration: none;
}

.isHover {

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.isFullWidth {
  word-wrap: break-word !important;
}

.isOneLine {
  @include line(1);
}

	.ico-list-card {
		width: 100%;

    padding: 15px;
    margin-bottom: 20px;

		display: flex;

    font-size: 1rem;

    border-radius: 10px;

    background: #fff;
    color: $color-secondary-dark;
    box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);

    cursor: default;
		transition: .3s;

		&__container {
			display: flex;

			&--left {
				flex: 1;
			}

			&--right {
				justify-content: flex-end;
			}
		}

		&__logo {
			align-self: center;
			margin-right: 30px;
		}
	}

	.content {
		flex: 1;

		&__name {
			font-size: 1.1em;
			color: $color-secondary-dark;
      @include line(1);
			margin-bottom: 0;
		}
	}

	.information {
		display: flex;
		flex: 1;

		&__main {
			flex: 2;
      width: auto;
		}

		&__other {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-around;
		}

		&__updated-date {
			display: block;
			font-size: 0.7em;
			color: $color-secondary;

			i.fa {
				color: #66BB6A;
				font-size: 0.6em;
			}
		}
		&__short-description {
			// width: 200px;
			margin-top: 7px;
			margin-bottom: 0;
			font-size: 0.85em;
			color: $color-secondary-dark;
      // @include line(1)
		}

		&__periud {
			display: block;
			font-size: 0.75em;
		}

		&__rate {
			flex-shrink: 0;
		}

	}

	@media screen and (max-width: 768px) {
	  .ico-list-card {
	  	font-size: 0.8rem;

	  	&__logo {
	  		margin-right: 15px;

		  	img {
		  		width: 40px;
		  		height: 40px;
		  		background: #fff;
		  	}
		  }
	  }

	  .information {
	  	flex-direction: column;

	  	&__other {
	  		flex-direction: row;
	  		justify-content: space-between;
	  	}

	  	&__short-description {
	  		margin-top: 3px;
	  	}

	  }

	}

	@media screen and (max-width: 576px) {
	  .ico-list-card {
	  	padding: 10px;
	  }
	}

</style>
