<template>
	<div class="screen-admin-validate-ico">
		<div class="container">
			<div class="row">
				<div class="col-12">
					fffg
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {

  name: 'ScreenAdminValidateICO',

  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
	.screen-admin-validate-ico {
		padding: 3rem 0;

		.list {

			&__body {
				display: flex;
			}

			&__item {
				margin-right: 2rem;
				color: #9E9E9E;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
</style>