<template>
	<div class="screen-admin-validate-ico">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<el-card class="screen-admin-validate-ico__list list">
					  <div slot="header" class="list__header">
					    <span>Validate ICO</span>
					    <el-button style="float: right; padding: 3px 0" type="text">Reverse</el-button>
					  </div>
					  <div class="list__body">
					  	<span 
					  		class="list__item"
					  		v-for="item in 4" 
					  		:key="item"
				  		>
					  		Money By Design
					  	</span>
					  </div>
					</el-card>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {

  name: 'ScreenAdminValidateICO',

  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
	.screen-admin-validate-ico {
		padding: 3rem 0;

		.list {

			&__body {
				display: flex;
			}

			&__item {
				margin-right: 2rem;
				color: #9E9E9E;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
</style>