<template>
<div class="policy-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
      	<h1 class="text-center title">{{ title }}</h1>
        <slot/>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'PolicyContainer',

  props: ['title']
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.policy-container {
	line-height: 1.65;
	font-size: 1rem;

	.content {
		margin: 1.5rem 0;

		.title {
	        font-size: 1.75rem;
	        margin-bottom: 1.5rem;
	    }

		h3 {
			color: #303133;
			font-size: 1.1rem;
			font-weight: bold;
			margin: 1.4rem 0 0.9rem 0;
		}

		p {
			color: #606266;
			margin-bottom: 0.8rem;
		}

		ul {
			color: #606266;
			padding-left: 25px;
		}
	}

	@media (min-width: 992px) {
		line-height: 1.35;
	}
}
</style>
