<template>
  <div class="policy-terms">
    <policy-container title="Policy Tearms of user">
      <h3>Preamble</h3>
      <p>Bazaar Techs LTD (hereinafter referred to as “ICObazaar”, “platform”, “us” or “we”) is a  company incorporated in a jurisdiction that follows the Common Law of England. We provide information about past, future and ongoing ICOs (collectively, the “Services”).</p>
      <p>ICObazaar operates within the legal framework of a jurisdiction that follows the Common Law of England. We will not tolerate any activities on our platform that go against the said law and international treaties, which are part of its legal system.</p>
      <p>By using the aforementioned services, Users give their unequivocal and irrevocable consent to the Terms of Use listed on this web page (“Terms”). </p>

      <h3>Eligibility</h3>
      <p>By signing up on this platform, you certify that:</p>
      <ul>
        <li>You are at least 18 years of age.</li>
        <li>The laws of your state of residence do not prohibit the supply of ICObazaar services to the residents of your state. </li>
      </ul>
    </policy-container>

  </div>
</template>

<script>
import PolicyContainer from './PolicyContainer'

export default {
  name: 'PolicyTerms',
  
  components: {
    PolicyContainer
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

</style>

