<template>
<div id="app">
  <app-header/>
  <router-view></router-view>
  <app-footer/>
</div>
</template>

<script>
import {
  mapActions
} from 'vuex'
import AppHeader from './components/global/AppHeader'
import AppFooter from './components/global/AppFooter'

export default {
  name: 'app',

  components: {
    AppHeader,
    AppFooter
  },

  methods: {
    ...mapActions([
      'getUserData',
      'loaddingCategories',
      'loaddingICOListTop'
    ])
  },

  created() {
    this.getUserData()
    this.loaddingCategories()
    this.loaddingICOListTop(1)
  },
}
</script>

<style lang="scss">
@import 'partials/variables';

body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 400;
    background-color: $bg-color;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    @media screen and (max-width: 992px) {}
    a {
        color: $color-purple-bg;
    }
}

.el-row {
    background-color: red;
    &:last-child {
        margin-bottom: 0;
    }
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):active, {
    background-color: $bg-color !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.is-danger {
  font-size: .7rem;
  color: red;
}
</style>
