<template>
<div class="app-authGoogle">
  <app-button id="google-signin-button" class="app-authGoogle-button" style="width: 100%">
    <div class="app-authGoogle-button-container">
      <i class="fab fa-google"></i>
      <span class="text">{{text}}</span>
    </div>
  </app-button>
</div>
</template>

<script>
import AppButton from '../global/AppButton'

export default {
  name: 'AuthGoogle',

  components: {
    AppButton
  },

  props: {
    text: {
      type: String,
      default: 'Sign in with Google'
    },

    params: {
      type: Object,
      // required: true,
      default: () => ({})
    }
  },

  data: () => ({
    auth2: '',
    googleUser: ''
  }),

  methods: {
    onAuthGoogle() {

    },

    onAuthLoginSuccess(googleUser) {
      this.$emit('success', googleUser)
    },

    onAuthLoginFailure(error) {
      this.$emit('error', error)
    },

    attachSignin(element) {
      let that = this

      this.auth2.attachClickHandler(element, {},
        function(googleUser) {

          that.onAuthLoginSuccess(googleUser)
          that.auth2.disconnect()
        },

        function(error) {

          that.onAuthLoginFailure(error)
          that.auth2.disconnect()
        });
    }
  },

  created() {
    this.auth2 = gapi.auth2.init()
  },

  mounted() {
    this.attachSignin(document.getElementById('google-signin-button'));
  }

}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.app-authGoogle {
    width: 100%;

    .app-authGoogle-button {
        width: 100%;

        &:hover {
            cursor: pointer !important;
            background-color: darken($color-purple-bg, 5%);
            border-color: darken($color-purple-bg, 5%);
        }
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .text {
            width: 100%;
        }
        .fab {
            margin-right: 1rem;
            font-size: 24px;
        }
    }

}
</style>
