<template>
<div @click="authFacebook()" class="app-authFacebook">
  <app-button id="facebook-signin-button" class="app-authFacebook-button" style="width: 100%">
    <div class="app-authFacebook-button-container">
      <i class="fab fa-facebook"></i>
      <span class="text">{{text}}</span>
    </div>
  </app-button>
</div>
</template>

<script>
import AppButton from '../global/AppButton'

export default {
  name: 'AuthFacebook',

  components: {
    AppButton
  },

  props: {
    text: {
      type: String,
      default: 'Sign in with Facebook'
    }
  },

  methods: {
    authFacebook() {
      FB.login(response => {
        if (response && response.status === 'connected') {
          FB.logout();
          FB.api('/me', {
            fields: 'id, name, email, picture'
          }, response => {
            this.$emit('success', response)
          })
        } else
          this.$emit('error', response)
      })
    },
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.app-authFacebook {
    width: 100%;
    margin-top: 1rem;

    .app-authFacebook-button {
        width: 100%;

        &:hover {
            cursor: pointer !important;
            background-color: darken($color-purple-bg, 5%);
            border-color: darken($color-purple-bg, 5%);
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .text {
            width: 100%;
        }

        .fab {
            margin-right: 1rem;
            font-size: 24px;
        }
    }

}
</style>
