<template>
<div class="screen-singIn">

  <auth-container title="Sign Up">

    <label for="AuthSignUp-name">Name</label>
    <el-input name="name" id="AuthSignUp-name" v-model="form.name" v-validate="'required|alpha'" placeholder="Enter your name" />
    <div v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</div>

    <label for="AuthSignUp-email">E-mail</label>
    <el-input name="email" id="AuthSignUp-email" v-model="form.email" v-validate="'required|email'" placeholder="yourmail@example.com" />
    <div v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</div>

    <label class="label-password" for="AuthSignUp-password">Password</label>
    <el-input name="password" id="AuthSignUp-password" v-model="form.password" v-validate="'required|min:6'" placeholder="Enter tour password" />
    <div v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</div>

    <label class="label-password" for="AuthSignUp-passwordConf">Confirm password</label>
    <el-input name="password2" id="AuthSignUp-passwordConf" v-model="passwordConf" placeholder="Enter confirm password" />
    <div v-show="passwordConfValidation" class="help is-danger">Passwords do not match</div>

    <app-button @appButtonClick="registrationDataCheck"
                :loading="loading"
                class="form-button"
                style="width: 100%;">
                Sign Up
    </app-button>

    <div class="info">
      <span class="info ">Have an account? <router-link to="login">Log In!</router-link></span>
      <el-checkbox class="info" v-model="form.spam">
        <span class="info">Send me occasional ICO offers and news</span>
      </el-checkbox>
      <div class="info info-privacy">By signing up, you agree to our
        <a href="#">Terms of Use</a>,
        <a href="#">Privacy Policy</a> and
        <a href="#">Cookie Policy</a>
      </div>
    </div>
  </auth-container>

  <auth-social @success="registration" />

</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AuthContainer from './AuthContainer'
import AppButton from '../global/AppButton'
import AuthSocial from './AuthSocial'

export default {
  name: 'AuthSignUp',

  components: {
    AuthContainer,
    AppButton,
    AuthSocial
  },

  data: () => ({
    form: {
      spam: false,
      name: '',
      email: '',
      password: ''
    },

    passwordConf: '',
    passwordConfValidation: false
  }),

  watch: {
    passwordConf: function () {
      if (this.form.password == this.passwordConf) this.passwordConfValidation = false
      else this.passwordConfValidation = true

    }
  },

  computed: {
    ...mapGetters([
      'loading',
      'notify_position'
    ])
  },

  methods: {
    ...mapActions([
      'registration'
    ]),

    registrationDataCheck() {
      // Verify password and passwordConf for identity
      if (this.passwordConf != this.form.password | this.passwordConf == '') {
        // Show error message below passwordConf input
        this.passwordConfValidation = true
      }

      // Check for validating error by VeeValidate
      this.$validator.validateAll().then((result) => {
        if (result && !this.passwordConfValidation) {

          // Run loading button
          this.$store.commit('SAVE_LOADING_STATE', true)
          // Transferring validated data for the request to server
          this.registration(this.form)
          return
        }
        else {
          // Notify user about invalid entered data
          this.$notify.error({
            title: 'Error',
            message: 'Invalid entered data',
            position: this.notify_position
          });
        }
      })
    },
  }
}
</script>

<style lang="scss">
@import '../../partials/global';

.form-button {
    &:hover {
        background-color: darken($color-purple-bg, 5%) !important;
        border-color: darken($color-purple-bg, 5%) !important;
    }
}
</style>

<style scoped lang="scss">
@import '../../partials/global';

.screen-singIn {
}
</style>
