<template>
<div class="auth-authGoogle" @click="authenticate('google')">
  <app-button class="auth-authGoogle__button">
    <div class="auth-authGoogle__button--container">
      <i class="fab fa-google"></i>
      <span class="text">{{text}}</span>
    </div>
  </app-button>
</div>
</template>

<script>

import { mixinsSocialAuthMethods } from '../../mixins/MixinsSocialAuthMethods'

import AppButton from '../global/AppButton'

export default {
  name: 'AuthGoogle',

  mixins: [mixinsSocialAuthMethods],

  props: {
    text: {
      type: String,
      default: 'Sign in with Google'
    }
  },

  components: {
    AppButton
  }
}
</script>

<style scoped lang="scss">

@import '../../partials/global';

.auth-authGoogle {
    width: 100%;

    .auth-authGoogle__button {
        width: 100%;

        &:hover {
            cursor: pointer !important;
            background-color: #D1333B;
            border-color: #D1333B;
        }
        &--container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .text {
            width: 100%;
        }
        .fab {
            margin-right: 1rem;
            font-size: 24px;
        }
    }

}
</style>
