<template>
<div class="auth-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 content">
        <h5 class="title">{{title}}</h5>
        <hr>
        <div class="form">
          <slot/>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'AuthContainer',

  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import '../../partials/global';

.info {
    margin-top: 0.75rem !important;
    width: 100%;
    font-size: 12px;
    color: $color-secondary;
    &-privacy {
        text-align: center;
    }
}
</style>

<style scoped lang="scss">
@import '../../partials/global';

.auth-container {

    .form {
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: center;
        margin: 2.5rem 0;
    }

    .content {
        background-color: $bg-color-light;
        padding: 20px 27px;
        border: 1px solid $borded-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            text-align: center;
            width: 100%;
            margin-bottom: -1rem;
            padding-bottom: 12px;
            border-bottom: 2px solid $borded-color;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
        }

        label {
            margin: 0;
            font-size: 12px;
        }

        .el-input {
            font-size: 12px;
            min-height: 36px;
            width: 100%;
            outline: none;
            margin-bottom: 1.5rem;
        }

        .help {
          margin-top: -1.25rem;
          margin-bottom: .5rem;
          font-size: 12px;
          width: 100%;

          &.is-danger {
              color: var(--red);
          }
        }

        .label-password {
            width: 50%;
            text-align: left;
        }

        .label-password-forgot {
            width: 50%;
            color: $color-purple-bg;
            text-align: right;
        }
    }
}
</style>
