<template>
<div class="screen-singIn">

  <auth-container title="Log In">

    <!-- Email -->
    <label for="AuthLogIn-email">E-mail</label>
    <el-input name="email" id="AuthLogIn-email" v-model="form.email" v-validate="'required|email'" placeholder="yourmail@example.com" />
    <div v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</div>

    <!-- Forgot password? / Password label -->
    <label class="label-password" for="AuthLogIn-password">Password</label>
    <label class="label-password-forgot">
      <router-link to="password-reset">Forgot password?</router-link>
    </label>

    <!-- Password -->
    <el-input name="password" id="AuthLogIn-password" v-model="form.password" v-validate="'required|min:6'" placeholder="Enter tour password" />
    <div v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</div>

    <!-- Button login -->
    <app-button @appButtonClick="loginDataCheck"
                :loading="loading"
                class="form-button"
                style="width: 100%;">
                Log In
    </app-button>

    <!-- Info block -->
    <div class="info">
      Don't have an account?
      <router-link :to="{ name: 'sign-up' }">Sign up now!</router-link>
    </div>
  </auth-container>

  <auth-social @success="login" />

</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AuthContainer from './AuthContainer'
import AppButton from '../global/AppButton'
import AuthSocial from './AuthSocial'

export default {
  name: 'AuthLogIn',

  components: {
    AuthContainer,
    AppButton,
    AuthSocial
  },

  data: () => ({
    googleSignInParams: {
      theme: 'dark',
      scope: 'profile email',
      longtitle: true
    },

    form: {
      email: '',
      password: ''
    }
  }),

  computed: {
    ...mapGetters([
      'loading',
      'notify_position',
      'nextPage',
    ])
  },

  methods: {
    ...mapActions([
      'login',
    ]),

    loginDataCheck() {
      // Check for validating error by VeeValidate
      this.$validator.validateAll().then((result) => {
        if (result) {

          // Run loading button
          this.$store.commit('SAVE_LOADING_STATE', true)
          // Transferring validated data for the request to server
          this.login(this.form)

          this.router.push(this.nextPage);
          return
        }
        else {
          // Notify user about invalid entered data
          this.$notify.error({
            title: 'Error',
            message: 'Invalid entered data',
            position: this.notify_position
          });
        }
      })
    },
  },
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.screen-singIn {

    .label-password {
        width: 50%;
        text-align: left;
    }

    .label-password-forgot {
        width: 50%;
        color: $color-purple-bg;
        text-align: right;
    }

}
</style>
