<template>
<div class="screen-singIn">
  <auth-container title="Password Recovery">
    <label for="AuthPasswordReset-email">E-mail</label>
    <el-input id="AuthPasswordReset-email" v-model="form.email" placeholder="yourmail@example.com" />
    <app-button class="form-button" style="width: 100%; background-color: #828bff; border-color: #828bff;">Send Password Reset Link</app-button>
    <div class="info">
      Don't have an account?
      <router-link to="sign-up">Sign up now!</router-link>
    </div>
  </auth-container>
</div>
</template>

<script>
import AuthContainer from './AuthContainer'
import AppButton from '../global/AppButton'


export default {
  name: 'AuthPasswordReset',

  components: {
    AuthContainer,
    AppButton
  },

  data: () => ({
    form: {
      email: ''
    }
  }),
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.screen-singIn {}
</style>
