<template>
<div class="auth-social">
  <auth-container title="Or">

    <auth-facebook
      @success="onAuthLoginSuccess"
    />

    <br>

    <auth-google
      @success="onAuthLoginSuccess"
    />

  </auth-container>
</div>
</template>

<script>

import AuthContainer from './AuthContainer'
import AuthGoogle from './AuthGoogle'
import AuthFacebook from './AuthFacebook'

export default {
  name: 'AuthSocial',

  components: {
    AuthContainer,
    AuthGoogle,
    AuthFacebook
  },

  methods: {
    onAuthLoginSuccess(data) {
      this.$emit('success', data)
    }
  }

}
</script>

<style scoped lang="scss">
.auth-social {

}
</style>
