<template>
  <div class="payment-price-list">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center title">Premium packages</h1>
            <p class="text-center">You just one step away from skyrocketing your ICO! Choose your package:</p>
          </div>
        </div>
        
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 myCard" v-for="packageData in packages">
            <payment-card :packageData="packageData"></payment-card>
          </div>

        </div>

        <div class="row">
          <div class="col-12 offset-lg-3 col-lg-6 text-center">
            <h3 class="text-center subTitle">Need help with more than 1 ICO?</h3>
            <p class="text-center">If you are an agency or have more than 1 ICOs you want to list on our site, please contact us at ico@icobazaar.com - we have a special offer for you!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PaymentCard from './PaymentCard'

export default {
  name: 'PaymentPriceList',

  data () {
    return {
      packages: [ 
        {
          title: 'Basic',
          text1: '- expedited listing in 24h',
          text2: '- basic project rating',
          text3: '- priority updates',
          text4: '- basic project rating',
          text5: '- priority updates',
          text6: '- expedited listing in 24h',
          price: '0.2 BTC'
        },
        {
          title: 'Basic',
          text1: '- expedited listing in 24h',
          text2: '- basic project rating',
          text3: '- priority updates',
          text4: '- basic project rating',
          text5: '- priority updates',
          text6: '- expedited listing in 24h',
          price: '0.2 BTC'
        },
        {
          title: 'Basic',
          text1: '- expedited listing in 24h',
          text2: '- basic project rating',
          text3: '- priority updates',
          text4: '- basic project rating',
          text5: '- priority updates',
          text6: '- expedited listing in 24h',
          price: '0.2 BTC'
        },
        {
          title: 'Basic',
          text1: '- expedited listing in 24h',
          text2: '- basic project rating',
          text3: '- priority updates',
          text4: '- basic project rating',
          text5: '- priority updates',
          text6: '- expedited listing in 24h',
          price: '0.2 BTC'
        }
      ]
    }
  },
  
  components: {
    PaymentCard
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.payment-price-list {
  color: #606266;

  .content {
    margin: 1.8rem 0 2rem 0;

    .title {
      font-size: 1.75rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
      color: #303133;
    }

    .subTitle {
      font-size: 1.1rem;
      font-weight: 700;
      color: #303133;
      margin-top: 2.5rem;
    }

    p {
      margin: 1rem 0;
      font-size: 1rem;
    }
  }
}

</style>