<template>
<div class="payment-card">
  <div class="myCard" @click="openPackage">
    <el-card shadow="always" :body-style="{padding: '0', borderRadius: '10px'}">
      <div class="body">
        <h4 class="card-title text-center">{{ packageData.title }}</h4>
        <p class="text">{{ packageData.text1 }}</p>
        <p class="text">{{ packageData.text2 }}</p>
        <p class="text">{{ packageData.text3 }}</p>
        <p class="text">{{ packageData.text4 }}</p>
        <p class="text">{{ packageData.text5 }}</p>
        <p class="text">{{ packageData.text6 }}</p>
        <p class="price text-center">{{ packageData.price }}</p>
      </div>
    </el-card>
  </div>
</div>
</template>

<script>
export default {
  name: 'PaymentCard',
  props: ['packageData'],

  methods: {
    openPackage () {
      this.router.push('/payment/pay/1')
    }
  }

}
</script>

<style scoped lang="scss">
@import '../../partials/global';
.payment-card {

  .myCard {
    margin: 0.8rem 0;

    .el-card {
      border-radius: 10px;
    }

    .el-card:hover {
      border: 1px solid #409EFF;

    }

    .el-card.is-always-shadow:hover {
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .body {
      padding: 1rem 1rem 0.35rem 1rem;


      .card-title {
          // font-size: 1.5rem;
          font-size: 18px;
          font-weight: 700;
          margin: 1rem 0 1.5rem 0;
          color: #303133;
      }

      .price {
        color: #409EFF;
        font-size: 1.6rem;
        margin: 0;
      }

      .text {
        line-height: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: #606266;
      }
    }
  }
}
</style>
