<template>
  <div class="payment-pay">
    <div class="container">
      <div class="content">

        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center title">Premium packages payment</h1>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-xs-11 col-sm-10 col-md-9 col-lg-7">
            <div class="myCard">  
              <el-card shadow="always" :body-style="{padding: '0', borderRadius: '10px', background: '#F2F6FC'}">
                <div class="body">
                  <h4 class="card-title text-center">Great choice!</h4>
    
                  <p class="text text-center">To get <b style="color: #303133">To The Moon Pack</b>
                    please provide your BTC or ETH wallet below
                  </p>

                  <div class="row d-flex justify-content-center">
                    <div class="col-md-9">
                      <el-input shadow="always" placeholder="BTC or ETH address" v-model="wallet"></el-input>
                      <el-input placeholder="ICO name" v-model="wallet"></el-input>
                      <el-input placeholder="Email Address" v-model="wallet"></el-input>

                       <div class="mySubCard">  
                        <el-card shadow="always" :body-style="{padding: '0', borderRadius: '10px'}">
                          <div class="body">
                            <h4 class="card-title">Perks you will get:</h4>
                            <p class="text">- expedited listing in 24h</p>
                            <p class="text">- basic project rating</p>
                            <p class="text">- priority updates</p>
                            <p class="text">- basic project rating</p>
                            <p class="text">- priority updates</p>
                            <p class="price">0.2 BTC</p>
                          </div>
                        </el-card>
                      </div>

                      <app-button
                        class="form-button"
                        style="width: 100%;
                        border-radius: 4px;
                        font-size: 1rem;
                        box-shadow: '0 0 40px -10px rgba(0, 0, 0, 0.7)'">
                        Pay
                      </app-button>
                      
                      <div class="link">
                        <a href="#">View more promotional options</a>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </el-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppButton from '../global/AppButton'

export default {
  name: 'PaymentPay',

  data () {
    return {
      wallet: ''
    }
  },
  
  components: {
    AppButton
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.payment-pay {

  .content {
    margin: 1.8rem 0 2rem 0;

    .title {
      font-size: 1.75rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
      color: #303133;
    }

    .myCard {
      margin: 0.8rem 0;

      .el-card {
        border-radius: 10px;
      }

      .el-card.is-always-shadow:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
      }

      .body {
        padding: 1rem 1rem 1.5rem 1rem;
        color: #606266;

        .card-title {
            font-size: 1.5rem;
            margin: 1rem 0 2rem 0;
            color: #000;
        }
        
        .price {
          color: #409EFF;
          font-size: 1.6rem;
          margin: 0;
        }

        .text {
          line-height: 1rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 15px;
          color: #606266;
        }

        .el-input {
          box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
          margin-bottom: 0.6rem;
        }

        .mySubCard {

          margin-bottom: 0.6rem;

          .el-card {
            border-radius: 4px;
          }

          .body {
            padding: 1rem 1rem 0.5rem 1rem;

            .card-title {
              font-size: 1.1rem;
              font-weight: 700;
              margin: 0rem 0 1rem 0;
              color: #303133;
            }

            .price {
              font-weight: 700;
            }

            .el-card.is-always-shadow {
              box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
            }
          }

        }

        .form-button {
          &:hover {
            background-color: darken($color-purple-bg, 5%) !important;
            border-color: darken($color-purple-bg, 5%) !important;
          }
        }

        .link {
          text-align: center;
          font-size: 0.9rem;
          margin-top: 0.8rem;
        }
      }
    }
  }
}

</style>