<template>
<div class="expert-card-description">
  <app-card>
    <div class="expert-description__main content">

      <h4 class="content__title">About</h4>

      <p>I am ICO DRIVER and expert launching ICOs. As an app expert I've used to ease the process of startups, like Slack, Telegram, etc. Collaborated with a number of different companies in the crypto-world (since 2010) within support, marketing and even
        as a technician. Helped many ICOs succeed - the last one was "ETHLend" which sold out in just 77h. Prevented about 20 different ICO scams based on my methodology. Interested in crypto-currency since its very beginning of 2010.</p>

      <p>Advisor only if I strongly believe in the project. NO compromise.</p>

      <p>How i rate ( for dummy ):</p>

    </div>
  </app-card>
</div>
</template>

<script>
import AppCard from "../global/AppCard"

export default {
  name: 'ExpertCardDescription',

  components: {
    AppCard
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.expert-card-description {
    .content {
        padding: 20px;

        &__title {

            margin-bottom: 2rem;

            font-weight: bold;

            color: $bg-color-dark;
        }
    }
}
</style>
