<template>
	<AppCard>
		<div class="expert-list-card">
			<a class="expert-list-card__avatar avatar" href="#">
				<img class="avatar__img" src="https://icobench.com/images/users/karavaev-1512904655.jpg" alt="avatar">
			</a>

			<div class="container">
				<div class="row align-items-center">
					<div :class="`col-12 col-md-${isSecondaryInfo ? '7' : '12'}`">
						<div class="expert-list-card__information information">
							<h3 class="information__name">
								<a class="expert-list-card__title" href="http://localhost:8080/expert/505">
									Luca Cotta
								</a>

								<app-popover
									content="Verified member!">
									<i class="fa fa-check-circle information__check"></i>
								</app-popover>
							</h3>
							<span class="information__description">Serial Entrepreneur | Investor Meetup | ICO advisor | China Market | Exchange</span>
						</div>
					</div>

					<div class="col-12 col-md-5" v-if='isSecondaryInfo'>
						<div class="information__secondary">
							<div class="expert-list-card__social social">
								<a
									v-for="item in social"
									v-if="item.link"
									class="expert-list-card__link social__item"
									:href="item.link"
									target="_blank">

										<i :class="`fab ${item.icon}`"></i>
								</a>
							</div>

							<div class="expert-list-card__rate">
								<el-rate
									v-model="rating"
						    	:colors="['#99A9BF', '#F7BA2A', '#FF9900']"
						    	disabled
					    	>
							  </el-rate>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</AppCard>
</template>

<script>

	import AppCard from "../global/AppCard"
	import AppPopover from "../global/AppPopover"

	export default {
	  name: 'screen-expert-list',

	  components: {
			AppCard,
			AppPopover
	  },

		props: {

			isSecondaryInfo: {
				type: Boolean,
				required: false,
				default: true
			},

			image: {
				type: String,
				// required: true,
			},

			name: {
				type: String,
				// required: true,
			},

			description: {
				type: String,
				// required: true,
			},

			// social: {
			// 	type: Object,
			// 	// required: true,
			// },


			rating: {
				type: [String, Number],
				// required: true,
				default: 3
			},
		},

		data: () => ({
			social: [
				{
					link: '',
					icon: 'fa-twitter'
				},
				{
					link: 'test',
					icon: 'fa-linkedin-in'
				},
				{
					link: 'test',
					icon: 'fa-facebook-f'
				},
				{
					link: 'test',
					icon: 'fa-linkedin-in'
				}
			]
		})
	}
</script>

<style scoped lang="scss">
@import '../../partials/global';

	.expert-list-card {

		padding: .5rem;

		display: flex;
		align-items: center;

		line-height: 1.1;

		&__title {
			text-decoration: none;
			color: $bg-color-dark;

			&:hover {
				color: $color-purple-bg;

				transition: .2s;
			}
		}

		&__link {

			text-decoration: none;

			transition: .2s;

			&:hover {
				background-color: lighten($color-purple-bg, 10%);
			}

			@media screen and (max-width: 992px) {
				display: none !important;
			}
		}

		&__rate {
			flex: 1;
			display: flex;
			justify-content: flex-end;

			flex-shrink: 0;

			@media screen and (max-width: 767px) {
				justify-content: flex-start !important;
			}
		}
	}

	.avatar {
		height: 60px;
		width: 60px;
		flex-shrink: 0;
		margin-right: 10px;
		background: #eee;
		border-radius: 50%;
		overflow: hidden;

		&__img {
			width: inherit;
		}
	}

	.social {
		display: flex;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.7em;
			width: 25px;
			height: 25px;
			margin: 0 3px;
			border-radius: 50%;
			background: $color-purple-bg;
			color: #fff;
			transition: all 0.6s easy;

			&:hover {
				background: lighten($color-purple-bg, 15%);
			}
		}
	}

	.information {
		&__name {
			display: flex;
			align-items: center;
			color: $bg-color-dark;
			font-size: 1.3em;
			font-weight: bold;
			margin-bottom: .25rem;
		}

		&__check {
			display: inline-block;

			margin-left: .5rem;

			font-size: 0.75em;
			color: $color-success;
		}

		&__description {
			font-size: 0.8em;

			color: $color-secondary;

			@include line(1);
		}

		&__secondary {
				display: flex;
				justify-content: space-between;
				align-items: center;
		}
	}

	@media screen and (max-width: 767px) {
		.expert-list-card {
			&__information {
				margin-bottom: 10px;
			}

			&__avatar {
				align-self: flex-start;
			}
		}
	}
</style>
