<template>
  <div>
    <button :class="`app-big-button btn ${type} btn-lg btn-block`" :style="`background-color: #${color} !important;`">
      <slot/>
    </button>
  </div>
</template>

<script>
export default {
  name: 'AppButtonBig',

  props: {
    size: {
      type: String,
      default: 'btn-lg'
    },
    type: {
      type: String,
      default: 'btn-primary'
    },
    color: {
      type: String
    }
  }
}
</script>

<style scoped lang="scss">
.btn-lg {
  height: 50px;
}
</style>
