<template>
<el-button class="btn-custom"
           :type="type"
           :disabled="disabled"
           :loading="loading"
           :circle="circle"
           :plain="plain"
           :size="size"
           :round="round"
           :style="style_new"
           :icon="icon"
           @click="appButtonClick()"
           >
  <slot class="btn-custom__slot" />
</el-button>
</template>

<script>
export default {
  name: 'AppButton',

  props: {
    style_new: {
      type: String
    },
    type: {
      type: String,
      // primary / success / warning / danger / info / text
      default: 'primary'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    },
    plain: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      // medium / small / mini
      default: 'medium'
    },
    round: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: ''
    }
  },

  methods: {
    appButtonClick() {
      this.$emit('appButtonClick')
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

  .btn-custom {

    &:focus {
      outline: 0;
    }

    &__slot {
      margin: auto;
    }

  }

  .btn-subscribe {
      transition: 0.3s;
      &:hover {
          background-color: darken($color-blue-dark, 5%) !important;
          border-color: darken($color-blue-dark, 5%) !important;
      }
  }
</style>
