<template>
<div class="app-container-bordered">
  <div class="container">
    <div class="row content">
      <div class="col-md-6 col-12">
        <slot/>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'AppContainerBordered'
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.app-container-bordered {
    .content {

        padding: 2rem;
        margin: 0 0 38px;

        display: flex;
        justify-content: center;

        text-align: center;

        background-color: $color-purple-bg;
        color: $bg-color;

        border-radius: 5px;
        box-shadow: 0 17px 27px rgba(37, 59, 110, 0.26);

        .title {

            margin: 0 0 20px;

            font-size: 22px;

            color: $bg-color-dark;
        }

        .subtitle {
            font-size: 16px;
            line-height: 1.5;
            margin: 0 auto 25px;
        }

    }
}
</style>
