<template>
  <div class="app-card">
		<slot />
  </div>
</template>

<script>

export default {
  name: 'app-card',
}
</script>

<style scoped lang="scss">
	.app-card {

    padding: 15px;
    margin-bottom: 20px;

    background: #fff;

    border-radius: 3px;
    box-shadow: 0 6px 10px rgba(37,59,110,.26);
		overflow: hidden;
	}
</style>
