<template>
<div class="app-footer">
  <div class="app-footer-top">
    <div class="container">
      <!-- <div class="row">
        <div class="col-sm-6 col-md-3" v-for="n in 4">
          <a href="https://cointelegraph.com/news/road-to-better-icos" rel="nofollow" target="_blank">
          <img src="https://icobazaar.com/client/images/cointelegraph.svg" alt="">
        </a>
        </div>
      </div> -->
      <div class="row">
  
        <div class="col-sm-6 col-md-3 block">
          <h5 class="title">Company</h5>
          <ul class="nav">
            <li>
              <a href="https://blog.icobazaar.com/" target="_blank">About us</a>
            </li>
            <li>
              <a href="https://icobazaar.com/faq">Contact us</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3 block">
          <h5 class="title">Market</h5>
          <ul class="nav">
            <li>
              <!-- <a href="https://blog.icobazaar.com/" target="_blank">Blog</a> -->
              <router-link :to="{ name: 'blog'}">Blog</router-link>
            </li>
            <li>
              <!-- <a href="https://icobazaar.com/faq">FAQ</a> -->
              <router-link :to="{ name: 'faq'}">FAQ</router-link>
            </li>
            <li>
              <!-- <a href="https://icobazaar.com/faq/ico-owners">FAQ for ICO owners</a> -->
              <router-link :to="{ name: 'faqICO'}">FAQ for ICO owners</router-link>
            </li>
            <li>
              <a href="https://en.bitcoinwiki.org/wiki/Main_Page" target="_blank" rel="nofollow">Cryptowiki</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3 block">
          <h5 class="title">Company</h5>
          <ul class="nav">
            <li>
              <a href="https://blog.icobazaar.com/" target="_blank">About us</a>
            </li>
            <li>
              <a href="https://icobazaar.com/faq">Contact us</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3 block">
          <h5 class="title">Social</h5>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/icobazaar" target="_blank" rel="nofollow">
                <i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://t.me/icobazaar" target="_blank" rel="nofollow">
                <i class="fab fa-telegram-plane"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/icobazaar" target="_blank" rel="nofollow">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://bitcointalk.org/index.php?topic=1944524.0" target="_blank" rel="nofollow">
                <i class="fab fa-bitcoin"></i>
              </a>
            </li>
            <li>
              <a href="https://www.reddit.com/r/ICObazaar" target="_blank" rel="nofollow">
                <i class="fab fa-reddit-alien">
                </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="app-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-5 footer-bottom">
          <div class="footer-links">
            <span 
              class="footer-links-item" 
              @click="handlerGoToPolicy('terms')" >
              Terms of Use
            </span>
            <span 
              class="footer-links-item" 
              @click="handlerGoToPolicy('privacy')" 
            >
              Privacy Policy
            </span>
            <span 
              class="footer-links-item" 
              @click="handlerGoToPolicy('cookie')" 
            >
              Cookie Policy
            </span>
          </div>
        </div>
        <!-- polisy -->
        <span class="copyright">
        © 2018 ICOmarket, In blockchain we trust
      </span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'AppFooter',

  methods: {
    handlerGoToPolicy(polisyName) {

      this.$router.push({
        name: "polisy",
        params: { polisyName },
      })
    },
  },
}
</script>

<style scoped lang="scss">
@import '../../partials/variables';

.app-footer-top {
    background-color: $bg-color-dark;
    padding: 2.5rem 0;
    .title {
        padding-top: 5rem;
        font-size: 18px;
        margin: 0 0 33px;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
        color: $color-secondary;
        border-bottom: 1px solid $color-purple-bg;
    }
    .nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: .25rem;
            font-size: 16px;
            a {
                line-height: normal;
                text-decoration: none;
                color: $color-secondary-dark;
                transition: .3s;
                &:hover {
                  color: $color-purple-bg;
                }
            }
        }
    }
    .social {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-size: 22px;
        li {
            a {
                color: $color-secondary-dark;
                transition: .3s;
                &:hover {
                  color: $color-purple-bg;
                }
            }
        }
    }

}

.app-footer-bottom {
    padding: 17px 0 15px;
    background-color: $bg-color;
    color: $bg-color-dark;
    font-size: 12px;
    line-height: normal;

    .footer-links {

      &-item {
        color: $bg-color-dark;
        margin-right: 1.2rem;
        cursor: pointer;

        &:hover {
          color: #757575;
        }
      }
    }
}
</style>
