<template>
<div class="app-header">
  <div class="container-fluid container-fluid-header-custom">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-custom navbar-expand-lg navbar-light">

          <span class="logo" @click="goToHeroPage()">ICO Market</span>

          <button class='cf-navbar-toggle navbar-toggle collapsed'
            v-show="fullWidth <= 991"
            aria-expanded='false'
            data-target='#navbarCollapsed'
            data-toggle='collapse'
            type='button'
          >
              <span class='icon-bar top-bar'></span>
              <span class='icon-bar middle-bar'></span>
              <span class='icon-bar bottom-bar'></span>
          </button>

          <div class="collapse navbar-collapse navbar-collapse-custom"
            id="navbarCollapsed">
            <el-menu :default-active="activeIndex" mode="horizontal" router>

              <!-- Menu items -->
              <el-menu-item
                v-if="menu.length"
                v-for="(item, index) in menu"
                :index="index + 1 + ''"
                @click="handleMenuItemClick()"
                :route="{ name: item.route }" >
                {{ item.text }}
              </el-menu-item>

              <!-- Authorization buttons -->
              <el-menu-item class="navbar-collapse-custom__btn-auth"
                v-if="!is_authenticated"
                index
              >
                <router-link :to="{ name: 'login' }">
                  <app-button plain>Log In</app-button>
                </router-link>
              </el-menu-item>
              <el-menu-item class="navbar-collapse-custom__btn-auth"
                v-if="!is_authenticated"
                index
              >
                <router-link :to="{ name: 'sign-up' }">
                  <app-button plain>Sign Up</app-button>
                </router-link>
              </el-menu-item>

              <!-- Authenticated user buttons -->
              <el-menu-item class="userName navbar-collapse-custom__btn-auth"
                v-if="is_authenticated"
                @click="$router.push('/account/profile')"
                index
              >
                 <span v-if="name">{{ name }}</span>
                 <span v-else>User</span>
                 <img class="app-header__photo" :src="image" alt="avatar">
              </el-menu-item>
              <el-menu-item class="navbar-collapse-custom__btn-auth"
                v-if="is_authenticated"
                index
              >
                <app-button @appButtonClick="exitFromAccount"
                  plain
                  size="mini">
                    Exit
                </app-button>
              </el-menu-item>

            </el-menu>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppButton from './AppButton'

export default {
  name: 'AppHeader',

  components: {
    AppButton
  },

  data: () => ({
    fullWidth: document.documentElement.clientWidth,
    activeIndex: '-1',

    menu: [
      {
        route: 'ico-list',
        text: 'ICO List'
      },{
        route: 'publish-ico',
        text: 'Publish ICO'
      },{
        route: 'expert-list',
        text: 'Experts'
      },{
        route: 'forum-themes',
        text: 'Forum'
      },{
        route: 'blog',
        text: 'Blog'
      },

    ]
  }),

  computed: {
    ...mapGetters([
      'is_authenticated',
      'name',
      'role',
      'image'
    ])
  },

  methods: {
    ...mapActions([
      'logout'
    ]),

    exitFromAccount() {
      this.logout()
    },

    goToHeroPage() {
      this.activeIndex = '-1'
      console.log(this.activeIndex);
      this.$router.push('/')
    },

    handleMenuItemClick() {
      if (this.fullWidth <= 991) {
        $('.navbar-toggle').click(); //bootstrap 3.x by Richard
        $('.navbar-toggler').click(); //bootstrap 4.x
      }
    },

    resize() {
      // When u can see navbar toggler
      if (this.fullWidth <= 991) {

        $('.navbar-custom').css({
          padding: '.5rem 1rem'
        })

        $('ul.el-menu').removeClass('el-menu--horizontal')

        $('.el-menu-item').css({
          lineHeight: '56px',
          height: '56px'
        })

        $('ul.el-menu').css({
          flexDirection: 'column',
          textAlign: 'center'
        })
      } else {

        if (!$('ul.el-menu').hasClass('el-menu--horizontal'))
          $('ul.el-menu').addClass('el-menu--horizontal')

        $('ul.el-menu').css({
          flexDirection: 'row',
          margin: '0 0 0 auto'
        })

        $('.el-menu-item').css({
          lineHeight: '80px',
          height: '80px'
        })

        $('.navbar-custom').css({
          padding: '0 1rem'
        })
      }
    },

    handleResize(event) {
      this.fullWidth = document.documentElement.clientWidth
      this.resize()
    }
  },

  created() {
    window.addEventListener('resize', this.handleResize)
  },

  mounted() {
    this.$nextTick(() => {
      this.resize()
    })
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  }
}
</script>

<style scoped lang="scss">
@import '../../partials/variables';

.container-fluid {
    @media screen and (min-width: 992px) {
        max-width: 1140px;
    }
}

.app-header {
    border-right: none;
    border-bottom: solid 1px $borded-color;

    &__photo {
      height: 36px;
      width: 36px;

      border-radius: 50%;

      object-fit: cover;
    }

    .navbar-custom {
        background-color: $bg-color;
        padding: 0 1rem;

        .logo {
          cursor: pointer;
        }

        .el-menu {
            background-color: $bg-color;
            align-items: center;
            border: 0;
            margin: auto 0;

            &-item {
                line-height: 80px;
                height: 80px;
                transition: 0.2s;
                &:hover {
                    @media screen and (min-width: 992px) {
                        background-color: $bg-color;
                    }
                }
                &.userName img {
                  margin-left: 1rem;
                }
                &.userName, &.userName i {
                  font-size: 1.1rem;
                  &:hover, &:active, &:focus {
                    color: $color-purple-bg;

                    cursor: pointer;
                  }
                }
            }
        }

        .navbar-toggle {
            border: 1px solid transparent;
            width: 40px;
            height: 40px;
            background-color: transparent;
        }

        .navbar-collapse-custom {

            &__btn-auth {
                border-bottom: 0 !important;

                &:focus,
                &:hover {
                    background-color: $bg-color;
                    cursor: default;
                }
            }
        }
    }
}

/* Hamburger
 ***********/
.navbar-toggle:focus,
.navbar-toggle:hover {
    outline: none;
}
.navbar-toggle.active,
.navbar-toggle:hover {
    cursor: pointer;
    border-color: transparent;
}
.navbar-toggle.active .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: lighten($color-purple-bg, 5%);
}
.navbar-toggle .icon-bar {
    background-color: lighten($color-purple-bg, 10%);
    width: 100%;
    position: relative;
    height: 5px;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: 0.2s;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}
.navbar-toggle .icon-bar.top-bar {
    -moz-animation: bar-top-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    -webkit-animation: bar-top-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    animation: bar-top-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
}
.navbar-toggle .icon-bar.middle-bar {
    -moz-animation: bar-middle-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    -webkit-animation: bar-middle-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    animation: bar-middle-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
}
.navbar-toggle .icon-bar.bottom-bar {
    -moz-animation: bar-bottom-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    -webkit-animation: bar-bottom-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    animation: bar-bottom-animation-in 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
}
.navbar-toggle.collapsed .icon-bar.top-bar {
    -moz-animation: bar-top-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    -webkit-animation: bar-top-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    animation: bar-top-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
}
.navbar-toggle.collapsed .icon-bar.middle-bar {
    -moz-animation: bar-middle-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    -webkit-animation: bar-middle-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    animation: bar-middle-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
}
.navbar-toggle.collapsed .icon-bar.bottom-bar {
    -moz-animation: bar-bottom-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    -webkit-animation: bar-bottom-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
    animation: bar-bottom-animation-out 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.6) forwards;
}

@-moz-keyframes bar-top-animation-in {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, 10px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 10px, 0) rotate(45deg);
    }
}
@-webkit-keyframes bar-top-animation-in {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, 10px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 10px, 0) rotate(45deg);
    }
}
@keyframes bar-top-animation-in {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, 10px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 10px, 0) rotate(45deg);
    }
}
@-moz-keyframes bar-middle-animation-in {
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes bar-middle-animation-in {
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bar-middle-animation-in {
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes bar-bottom-animation-in {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, -12px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
}
@-webkit-keyframes bar-bottom-animation-in {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, -12px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
}
@keyframes bar-bottom-animation-in {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, -12px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, -12px, 0) rotate(-45deg);
    }
}
@-moz-keyframes bar-top-animation-out {
    0% {
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
    50% {
        transform: translate3d(0, 12px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}
@-webkit-keyframes bar-top-animation-out {
    0% {
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
    50% {
        transform: translate3d(0, 12px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}
@keyframes bar-top-animation-out {
    0% {
        transform: translate3d(0, 12px, 0) rotate(45deg);
    }
    50% {
        transform: translate3d(0, 12px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}
@-moz-keyframes bar-middle-animation-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes bar-middle-animation-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bar-middle-animation-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes bar-bottom-animation-out {
    0% {
        transform: translate(0, -12px) rotate(-45deg);
    }
    50% {
        transform: translate(0, -12px) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
@-webkit-keyframes bar-bottom-animation-out {
    0% {
        transform: translate(0, -12px) rotate(-45deg);
    }
    50% {
        transform: translate(0, -12px) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
@keyframes bar-bottom-animation-out {
    0% {
        transform: translate(0, -12px) rotate(-45deg);
    }
    50% {
        transform: translate(0, -12px) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.credits {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 1111;
    letter-spacing: 0.04em;
    font-size: 10px;
    text-transform: uppercase;
}
.credits a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 4px;
    text-decoration: none;
}
.credits a:hover {
    color: #fff;
}
</style>
