<template>
    <el-input :size="size" :placeholder="placeholder"></el-input>
</template>

<script>
export default {
  name: 'AppInput',

  props: {
    size: {
      type: String,
      default: 'medium'
    },
    placeholder: {
      type: String,
      default: ''
    },
    
  }
}
</script>

<style scoped lang="scss">
</style>
