<template>
  <div class="app-popover">
    <el-popover
      :placement="placement"
      :width="width"
      :trigger="trigger"
      :content="content">
        <slot slot="reference"/>
    </el-popover>
  </div>
</template>

<script>
export default {
  name: 'AppPopover',

  props: {
    placement: {
      type: String,
      default: 'top-start'
    },
    width: {
      type: String,
      default: '150px'
    },
    trigger: {
      type: String,
      default: 'hover'
    },
    content: {
      type: String,
      required: true
    },
    styles: {
      type: String,
      required: false
    },
  }
}
</script>

<style lang="scss">
@import '../../partials/global';
  .el-popover {
    padding: 8px 10px !important;

    font-size: 1rem !important;
    font-weight: bold !important;

    color: $bg-color-light !important;
    background-color: $color-success !important;
  }

  .popper__arrow:after {
    border-top-color: $color-success !important;
  }
</style>

<style scoped lang="scss">
</style>
