<template>
  <div class="app-social-links" v-if="social.length">
    <ul class="social">
      <li
        v-for="(item, index) in social">
        <a :href="item.link" target="_blank">
          <i :class="`fab ${item.icon}`"></i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AppSocialLinks',

  data: () => ({
    social: [
      {
        link: 'https://www.facebook.com/icobazaar',
        icon: 'fa-facebook'
      },{
        link: 'https://t.me/icobazaar',
        icon: 'fa-telegram-plane'
      },{
        link: 'https://twitter.com/icobazaar',
        icon: 'fa-twitter'
      },{
        link: 'https://bitcointalk.org/index.php?topic=1944524.0',
        icon: 'fa-bitcoin'
      },{
        link: 'https://www.reddit.com/r/ICObazaar',
        icon: 'fa-reddit-alien'
      },
    ]
  })
}
</script>

<style scoped lang="scss">
@import '../../partials/global';

.app-social-links {
  .social {
      padding: 0;
      margin: 0 4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      font-size: 20px;
      li {
        &:hover a {
          color: $color-blue-dark;
          transition: .3s;
        }
      }
      a {
          color: $bg-color;
          transition: .3s;
      }
  }

}
</style>
