<template>
  <div class="app-textarea">
    <el-input
      type="textarea"
      autosize
      :placeholder="placeholder"
      :size="size"
      :maxlength="maxlength"
      v-model="textarea"
      @input="$emit('input', textarea)"
    >

    </el-input>
  </div>
</template>

<script>
export default {
  name: 'AppTextarea',

  props: {
    placeholder: {
      type: String,
      default: 'Write something here'
    },
    size: {
      type: String,
      default: ''
    },
    maxlength: {
      type: [String, Number],
      default: 1500
    },
    value: {
      type: String,
      default: ''
    }
  },

  data: () => ({
    textarea: ''
  }),

  watch: {
    value(val) {
      this.textarea = val
      this.$emit('input', val)
    }
  }
}
</script>

<style scoped lang="scss">
  .app-textarea {

  }
</style>
